In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [3]:
setID = 'Set002'; nm_to_add=1420

In [4]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [5]:
toCheck_df = wd[wd.wetdet_delin_number.isin(['WD2017-0198', 'WD2017-0229', 'WD2019-0082'])]

In [7]:
wd[wd.wetdet_delin_number=='WD2019-0496']

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
30,WD2019-0496,08S44E15,"600, 601",30684 Sparta Lane,Sparta,Baker,Christine Tencza,WD2019-0496 offsite,44.869099,-117.32115,...,2019-08-30,2019-09-20,NaN,78730.0,129698,1451,,2019,2019,N
31,WD2019-0496,08S44E15BC,"400p,600",30684 Sparta Lane,Sparta,Baker,Christine Tencza,WD2019-0496 offsite,44.868099,-117.32115,...,2019-08-30,2019-09-20,NaN,78730.0,129699,1452,Partial,2019,2019,N
32,WD2019-0496,08S44E00,"3400p,3401",30684 Sparta Lane,Sparta,Baker,Christine Tencza,"WD2019-0496 offsite (s15,s22)",44.869099,-117.32115,...,2019-08-30,2019-09-20,NaN,78730.0,140811,1453,Partial,2019,2019,N

In [6]:
review_loop_r1(df=toCheck_df, partial=True, idx=True)

0.0% digitized, 3 records remained, expected to be done in about 2 hours...
WD2017-0229
index = 3
     county     trsqq                   parcel_id   latitude   longitude  \
2     Baker  07S40E00  Many tax maps and tax lots  45.831088 -119.623309
3     Baker  10S40E00  Many tax maps and tax lots  45.831088 -119.623309
4     Baker  09S41E00  Many tax maps and tax lots  45.831088 -119.623309
5     Baker  09S40E00  Many tax maps and tax lots  45.831088 -119.623309
6     Baker  08S40E00  Many tax maps and tax lots  45.831088 -119.623309
7     Baker  10S41E00  Many tax maps and tax lots  45.831088 -119.623309
8     Baker  11S43E00  Many tax maps and tax lots  45.831088 -119.623309
9     Baker  15S45E00  Many tax maps and tax lots  45.831088 -119.623309
10    Baker  10S42E00  Many tax maps and tax lots  45.831088 -119.623309
11    Baker  14S45E00  Many tax maps and tax lots  45.831088 -119.623309
12    Baker  14S44E00  Many tax maps and tax lots  45.831088 -119.623309
13    Baker  13S44E00  Many tax maps and tax lots  45.831088 -119.623309
14    Baker  12S43E00  Many tax maps and tax lots  45.831088 -119.623309
15    Baker  12S42E00  Many tax maps and tax lots  45.831088 -119.623309
16    Baker  11S42E00  Many tax maps and tax lots  45.831088 -119.623309
650  Morrow  01N26E00  Many tax maps and tax lots  45.831088 -119.623309
651  Morrow  01N27E00  Many tax maps and tax lots  45.831088 -119.623309
652  Morrow  01N28E00  Many tax maps and tax lots  45.831088 -119.623309
653  Morrow  02N25E00  Many tax maps and tax lots  45.831088 -119.623309
654  Morrow  02N26E00  Many tax maps and tax lots  45.831088 -119.623309
655  Morrow  04N25E00  Many tax maps and tax lots  45.831088 -119.623309
656  Morrow  04N26E00  Many tax maps and tax lots  45.831088 -119.623309

     record_ID          notes missinglot
2         1423  Partial, Many          Y
3         1424  Partial, Many          Y
4         1425  Partial, Many          Y
5         1426  Partial, Many          Y
6         1427  Partial, Many          Y
7         1428  Partial, Many          Y
8         1429  Partial, Many          Y
9         1430  Partial, Many          Y
10        1431  Partial, Many          Y
11        1432  Partial, Many          Y
12        1433  Partial, Many          Y
13        1434  Partial, Many          Y
14        1435  Partial, Many          Y
15        1436  Partial, Many          Y
16        1437  Partial, Many          Y
650       2071  Partial, Many          Y
651       2072  Partial, Many          Y
652       2073  Partial, Many          Y
653       2074  Partial, Many          Y
654       2075  Partial, Many          Y
655       2076  Partial, Many          Y
656       2077  Partial, Many          Y
Press 'p' to pause or any key to stop...p
Press 'a' to add the wd record or 'c' to continue...c
33.3% digitized, 2 records remained, expected to be done in about 2 hours...
WD2017-0198
index = 648
     county       trsqq parcel_id   latitude   longitude  record_ID notes  \
647  Morrow  05N27E19BC       100  45.900754 -119.488097       2068
648  Morrow    05N27E19       100  45.900754 -119.488097       2069
649  Morrow  05N27E19CB       ROW  45.900754 -119.488097       2070   ROW

    missinglot
647          N
648          N
649          Y
Press 'p' to pause or any key to stop...P
Press 'a' to add the wd record or 'c' to continue...C
66.7% digitized, 1 records remained, expected to be done in about 1 hours...
WD2019-0082
index = 677
     county     trsqq                               parcel_id   latitude  \
676  Morrow  04N25E02            100,104,105,106,107,All part  45.861727
677  Morrow  04N25E02            100,104,105,106,107,All part  45.861727
678  Morrow  03N26E00                                    510p  45.771581
679  Morrow  03N26E00                                    510p  45.771581
680  Morrow  04N26E00  3405,3407,3416,3419,4700,4703,All part  45.824771
681  Morrow  04N26E00  3405,3407,3416,3419,4700,4703,All part  45.824771
682  Morrow  04N26E07                    100,200,201,All part  45.840226
683  Morrow  04N26E07                    100,200,201,All part  45.840226
684  Morrow  04N25E12                                    103p  45.846284
685  Morrow  04N25E12                                    103p  45.846284
686  Morrow  04N25E01                                    102p  45.863658
687  Morrow  04N25E01                                    102p  45.863658

      longitude  record_ID    notes missinglot
676 -119.647871       2097  Partial          N
677 -119.647871       2098  Partial          N
678 -119.622717       2099  Partial          N
679 -119.622717       2100  Partial          N
680 -119.618111       2101  Partial          N
681 -119.618111       2102  Partial          N
682 -119.619808       2103  Partial          N
683 -119.619808       2104  Partial          N
684 -119.626709       2105  Partial          N
685 -119.626709       2106  Partial          N
686 -119.654349       2107  Partial          N
687 -119.654349       2108  Partial          N
Press 'p' to pause or any key to stop...P
Press 'a' to add the wd record or 'c' to continue...C