In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [3]:
wd_df = get_all_wd(num=6, raw=True)

In [54]:
cor_set1_0 = pd.read_excel(wdpath+'\\Data corrections feedback to DSL\\DSL Database corrections set001.xlsx', nrows=27)

In [14]:
wd_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'SetID'],
      dtype='object')

In [17]:
len(cor_set1_0.wetdet_delin_number.values)==len(cor_set1_0.wetdet_delin_number.unique())

False

In [25]:
cor_set1_0.county=cor_set1_0.county.apply(lambda x: x.capitalize())

In [36]:
cor_set1_0[~cor_set1_0.city.isnull()].city=cor_set1_0[~cor_set1_0.city.isnull()].city.apply(lambda x: x.capitalize())

In [26]:
wdID_list, n=check_duplicates(cor_set1_0.wetdet_delin_number.values)

In [29]:
selwid = [wid for wid in cor_set1_0.wetdet_delin_number.unique() if wid not in wdID_list]

In [51]:
set1df = wd_df[(wd_df.SetID==1)]

In [44]:
to_cor_set1 = set1df[set1df.wetdet_delin_number.isin(selwid)]

In [38]:
cor_set1 = cor_set1_0[cor_set1_0.wetdet_delin_number.isin(selwid)]

In [45]:
to_cor_set1.trsqq = to_cor_set1.wetdet_delin_number.map(dict(zip(cor_set1.wetdet_delin_number, cor_set1.trsqq)))
to_cor_set1.parcel_id = to_cor_set1.wetdet_delin_number.map(dict(zip(cor_set1.wetdet_delin_number, cor_set1.parcel_id)))
to_cor_set1.county = to_cor_set1.wetdet_delin_number.map(dict(zip(cor_set1.wetdet_delin_number, cor_set1.county)))

In [50]:
wid='WD2022-0291'
to_cor_set1.loc[to_cor_set1.wetdet_delin_number==wid,'city'] = cor_set1.loc[cor_set1.wetdet_delin_number==wid,'city']
to_cor_set1.loc[to_cor_set1.wetdet_delin_number==wid,'latitude'] = cor_set1.loc[cor_set1.wetdet_delin_number==wid,'latitude']
to_cor_set1.loc[to_cor_set1.wetdet_delin_number==wid,'longitude'] = cor_set1.loc[cor_set1.wetdet_delin_number==wid,'longitude']

In [52]:
set1df[set1df.wetdet_delin_number.isin(wdID_list)]

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot,SetID
1069,WD2021-0437,36S05W17AD,"4400,4402,4403,6100,6101",401 NE Anderson St Grants Pass,Grants Pass,Josephine,OHCS Oak View Garden - Eagle Cap,WD2021-0437 wetdet,42.441098,-123.213555,...,2021-09-07,NaN,82553.0,136894,1070,,2021,2021,N,1

In [55]:
# this changes the record ID, skip
cor_set1_0[cor_set1_0.wetdet_delin_number.isin(wdID_list)]

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,matched ORTAXLOT#
17,WD2021-0437,36S05W17AD,"4400,4402,4403",401 NE Anderson St Grants Pass,Grants Pass,Josephine,OHCS Oak View Garden - Eagle Cap,WD2021-0437 wetdet,42.441098,-123.213555,1736.00S05.00W17AD--000004400
18,WD2021-0437,36S05W17AC,"6100,6101",401 NE Anderson St Grants Pass,Grants Pass,Josephine,OHCS Oak View Garden - Eagle Cap,WD2021-0437 wetdet,42.441098,-123.213555,1736.00S05.00W17AC--000006101

In [61]:
set1df1 = pd.concat([set1df[~set1df.wetdet_delin_number.isin(to_cor_set1.wetdet_delin_number.values)], to_cor_set1], 
                    ignore_index=True)

In [62]:
set1df1 = set1df1.sort_values(by=['record_ID'])

In [65]:
set1df1.county.unique()

array(['Clatsop', 'Coos', 'Deschutes', 'Crook', 'Harney', 'Malheur',
       'Jackson', 'Josephine', 'Lake', 'Marion', 'Polk'], dtype=object)

In [66]:
set1df1.to_csv(wdpath+'\\Corrected_by_Set\\Set1_2017-20220601.csv', index=False)

In [67]:
cor_set2_0 = pd.read_excel(wdpath+'\\Data corrections feedback to DSL\\DSL Database corrections set002.xlsx')

In [68]:
wdID_list, n=check_duplicates(cor_set2_0.wetdet_delin_number.values)

In [69]:
wdID_list

[]

In [70]:
set2df = wd_df[(wd_df.SetID==2)]

In [84]:
set2df.county.unique()

array(['Baker', 'Benton', 'Clackamas', 'Morrow'], dtype=object)

In [75]:
to_cor_set2 = set2df[set2df.record_ID.isin(cor_set2_0.Record_ID.values)]

In [78]:
to_cor_set2.trsqq = to_cor_set2.record_ID.map(dict(zip(cor_set2_0.Record_ID, cor_set2_0.trsqq)))
to_cor_set2.county = to_cor_set2.record_ID.map(dict(zip(cor_set2_0.Record_ID, cor_set2_0.county)))

In [79]:
set2df1 = pd.concat([set2df[~set2df.record_ID.isin(to_cor_set2.record_ID.values)], to_cor_set2], 
                    ignore_index=True)

In [80]:
set2df1 = set2df1.sort_values(by=['record_ID'])

In [83]:
set2df1.county.unique()

array(['Baker', 'Benton', 'Polk', 'Clackamas', 'Multnomah', 'Morrow'],
      dtype=object)

In [82]:
set2df1.to_csv(wdpath+'\\Corrected_by_Set\\Set2_2017-20220601.csv', index=False)

In [86]:
set3df = wd_df[(wd_df.SetID==3)]

In [101]:
set3df.county.unique()

array(['Columbia', 'Grant', 'Klamath', 'Lincoln', 'Tillamook',
       'TIllamook'], dtype=object)

In [85]:
cor_set3_0 = pd.read_excel(inpath+'\\output\\corrected\\corrected_Set003.xlsx')

In [87]:
to_cor_set3 = set3df[set3df.record_ID.isin(cor_set3_0.record_ID.values)]

In [88]:
to_cor_set3.trsqq = to_cor_set3.record_ID.map(dict(zip(cor_set3_0.record_ID, cor_set3_0.trsqq)))
to_cor_set3.county = to_cor_set3.record_ID.map(dict(zip(cor_set3_0.record_ID, cor_set3_0.county)))

In [91]:
to_cor_set3.loc[to_cor_set3.record_ID==2162, 'parcel_id'].values[0]

'800,900,1000'

In [92]:
set3df1 = pd.concat([set3df[~set3df.record_ID.isin(to_cor_set3.record_ID.values)], to_cor_set3], 
                    ignore_index=True)

In [97]:
set3df1.loc[set3df1.county=='TIllamook', 'county'] = 'Tillamook'

In [102]:
set3df1.county.unique()

array(['Columbia', 'Grant', 'Klamath', 'Lincoln', 'Tillamook', 'Lane'],
      dtype=object)

In [124]:
set3df1 = set3df1.sort_values(by=['record_ID'])

In [125]:
set3df1.to_csv(wdpath+'\\Corrected_by_Set\\Set3_2017-20220601.csv', index=False)

In [12]:
cor_set4_0 = pd.read_csv(inpath+'\\output\\corrected\\corrected_Set004.csv')

In [99]:
set4df = wd_df[(wd_df.SetID==4)]

In [103]:
to_cor_set4 = set4df[set4df.record_ID.isin(cor_set4_0.record_ID.values)]

In [104]:
selrid1 = cor_set4_0.loc[cor_set4_0.field=='trsqq', 'record_ID'].values
selrid2 = cor_set4_0.loc[cor_set4_0.field=='county', 'record_ID'].values

In [120]:
to_cor_set4.loc[to_cor_set4.record_ID.isin(selrid1), 'trsqq'] = to_cor_set4[to_cor_set4.record_ID.isin(selrid1)].record_ID.map(dict(zip(cor_set4_0.record_ID, cor_set4_0.trsqq)))

In [118]:
to_cor_set4.loc[to_cor_set4.record_ID.isin(selrid2), 'county'] = to_cor_set4[to_cor_set4.record_ID.isin(selrid2)].record_ID.map(dict(zip(cor_set4_0.record_ID, cor_set4_0.to)))

In [123]:
set4df1 = pd.concat([set4df[~set4df.record_ID.isin(to_cor_set4.record_ID.values)], to_cor_set4], 
                    ignore_index=True)
set4df1 = set4df1.sort_values(by=['record_ID'])
set4df1.to_csv(wdpath+'\\Corrected_by_Set\\Set4_2017-20220601.csv', index=False)

In [29]:
set4df1 = pd.read_csv(wdpath+'\\Corrected_by_Set\\Set004.csv')

In [30]:
set4df1.county.unique()

array(['Crook', 'Curry', 'Hood River', 'Jefferson', 'Linn', 'Benton',
       'Multnomah', 'Washington', 'Wasco', 'Yamhill',
       'Yamhill and Washington'], dtype=object)

In [31]:
set4df1.loc[set4df1.county == 'Yamhill and Washington', 'county'] = 'Yamhill'

In [32]:
set4df1.to_csv(wdpath+'\\Corrected_by_Set\\Set004.csv', index=False)

In [14]:
cor_set5_0 = pd.read_excel(inpath+'\\output\\corrected\\corrected_Set005.xlsx')
set5df = wd_df[(wd_df.SetID==5)]
to_cor_set5 = set5df[set5df.record_ID.isin(cor_set5_0.record_ID.values)]

In [6]:
selrid1 = cor_set5_0.loc[cor_set5_0.field=='trsqq', 'record_ID'].values
selrid2 = cor_set5_0.loc[cor_set5_0.field=='parcel_id', 'record_ID'].values

In [13]:
cor_set4_0.columns

Index(['wetdet_delin_number', 'record_ID', 'field', 'cor_type', 'from', 'to',
       'trsqq', 'parcel_id'],
      dtype='object')

In [11]:
cor_set5_0.columns

Index(['wetdet_delin_number', 'record_ID', 'field', 'cor_type', 'from', 'to'], dtype='object')

In [9]:
'trsqq' in to_cor_set5.columns

True

In [17]:
df = cor_set5_0[cor_set5_0.record_ID.isin(selrid1)][['record_ID', 'trsqq']].drop_duplicates()

In [18]:
to_cor_set5.loc[to_cor_set5.record_ID.isin(selrid1), 'trsqq'] = to_cor_set5[to_cor_set5.record_ID.isin(selrid1)].record_ID.map(dict(zip(df.record_ID, df.trsqq)))

In [19]:
df1 = cor_set5_0[cor_set5_0.record_ID.isin(selrid2)][['record_ID', 'parcel_id']].drop_duplicates()

In [20]:
to_cor_set5.loc[to_cor_set5.record_ID.isin(selrid2), 'parcel_id'] = to_cor_set5[to_cor_set5.record_ID.isin(selrid2)].record_ID.map(dict(zip(df1.record_ID, df1.parcel_id)))

In [21]:
set5df1 = pd.concat([set5df[~set5df.record_ID.isin(to_cor_set5.record_ID.values)], to_cor_set5], ignore_index=True)
set5df1 = set5df1.sort_values(by=['record_ID'])

In [34]:
#Set5_2017-20221231.csv
set5df1.to_csv(wdpath+'\\Corrected_by_Set\\Set005.csv', index=False) # adjusted the name to Set00*, same as above

In [23]:
dtset5 = pd.read_csv(wdpath+'\\Corrected_by_Set\\Set005.csv')

In [27]:
dtset5.received_date.values[0].split('-')[0]

'2017'

In [4]:
cor_set6_0 = pd.read_excel(inpath+'\\output\\corrected\\corrected_Set006.xlsx')
set6df = wd_df[(wd_df.SetID==6)]
to_cor_set6 = set6df[set6df.record_ID.isin(cor_set6_0.record_ID.values)]

In [5]:
cor_set6_0

,wetdet_delin_number,record_ID,trsqq,county,parcel_id,field,cor_type,from,to
0,WD2022-0448,4666,NaN,NaN,100.0,parcel_id,parcel id,102103,100
1,WD2022-0636,4773,NaN,Linn,NaN,county,county,Marion,Linn
2,WD2022-0489,4509,09S35VE,NaN,NaN,trsqq,range direction,0.5,V
3,WD2022-0483,4475,17S12E35,NaN,NaN,trsqq,QQ,DC,0
4,WD2022-0436,4845,03N24E,NaN,NaN,trsqq,section number,28,0
5,WD2022-0604,4635,36S06W24A0,NaN,NaN,trsqq,QQ,0,A0
6,WD2022-0695,4674,17S03W30A0,NaN,NaN,trsqq,QQ,0,A0
7,WD2022-0474,4468,32S15W32C0,NaN,NaN,trsqq,QQ,0,C0
8,WD2022-0435,4439,08N10W25,NaN,NaN,trsqq,QQ,D0,0
9,WD2022-0398,4871,01S24E,NaN,NaN,trsqq,"section number, QQ",D01,0
10,WD2022-0398,4860,01S24E,NaN,NaN,trsqq,"section number, QQ",D01,0

In [6]:
selrid = cor_set6_0.loc[cor_set6_0.field=='trsqq', 'record_ID'].values

In [7]:
df = cor_set6_0[cor_set6_0.record_ID.isin(selrid)][['record_ID', 'trsqq']].drop_duplicates()

In [8]:
to_cor_set6.loc[to_cor_set6.record_ID.isin(selrid), 'trsqq'] = to_cor_set6[to_cor_set6.record_ID.isin(selrid)].record_ID.map(dict(zip(df.record_ID, df.trsqq)))

In [10]:
to_cor_set6.loc[to_cor_set6.record_ID==4666, 'parcel_id'] = '100'

In [12]:
to_cor_set6.loc[to_cor_set6.record_ID==4773, 'county'] = 'Linn'

In [13]:
set6df1 = pd.concat([set6df[~set6df.record_ID.isin(to_cor_set6.record_ID.values)], to_cor_set6], ignore_index=True)
set6df1 = set6df1.sort_values(by=['record_ID'])

In [14]:
set6df1.to_csv(wdpath+'\\Corrected_by_Set\\Set006.csv', index=False)