In [1]:
%load_ext autoreload
%autoreload 2

In [151]:
from wdtools import *

In [57]:
wd_df = get_all_wd(num=5)

In [9]:
wd_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'SetID'],
      dtype='object')

In [8]:
wd_df.shape

(4370, 26)

In [6]:
wdID_list, n=check_duplicates(wd_df.wetdet_delin_number.values)

In [7]:
n

570

In [25]:
cross_set_wIDs = [wdID for wdID in wdID_list if len(wd_df[wd_df.wetdet_delin_number==wdID].SetID.unique()) > 1]

In [26]:
len(cross_set_wIDs)

11

In [39]:
sa_gdf_all = get_all_SA(num=5)

In [40]:
sa_wdID_list, sa_n=check_duplicates(sa_gdf_all.wdID.values)

In [41]:
sa_n

8

In [42]:
[wID for wID in sa_wdID_list if wID not in cross_set_wIDs]

[]

In [47]:
wdID = 'WD2021-0651'
url = wd_df.loc[wd_df.wetdet_delin_number == wdID, 'DecisionLink'].values[0]
webbrowser.open(url)

True

In [45]:
[wID for wID in cross_set_wIDs if wID not in sa_wdID_list]

['WD2018-0281', 'WD2017-0229', 'WD2021-0651']

In [49]:
'WD2021-0179' in sa_gdf_all.wdID.values

False

In [51]:
'04S39E' in trsqq

True

In [58]:
wd_df['ORMapNum'] = wd_df[['county', 'trsqq']].apply(lambda row: create_ORMapNm(ct_nm=row.county, trsqq=row.trsqq), axis = 1)

In [59]:
ORMapNum_lst, txm_n=check_duplicates(wd_df.ORMapNum.values)

In [60]:
txm_n

821

In [94]:
dup_txm = []
txm_dup = []
for wdID in wd_df.wetdet_delin_number.unique():
    txm_dup_n, k = check_duplicates(wd_df[wd_df.wetdet_delin_number==wdID].ORMapNum.values)
    if k>1:
        dup_txm.append(wdID)
        txm_dup+=txm_dup_n

In [82]:
txm_dup[0]

'0407.00N10.00W15BB--0000'

In [90]:
site_id_lst, sid_n = check_duplicates(wd_df.site_id.values)

In [91]:
sid_n

133

In [93]:
dup_sid = []
sid_dup = []
for wdID in wd_df.wetdet_delin_number.unique():
    sid_dup_n, k = check_duplicates(wd_df[wd_df.wetdet_delin_number==wdID].site_id.values)
    if k>1:
        dup_sid.append(wdID)
        sid_dup+=sid_dup_n

In [95]:
len(dup_sid)

16

In [88]:
wd_df[wd_df.ORMapNum==txm_dup[0]][['parcel_id','site_id', 'latitude', 'longitude']]

                             parcel_id  site_id   latitude  longitude
91   100,200,1600,1700,ROW all partial   132949  46.094286 -123.92086
95          3200,3300,ROWs all partial   139666  46.094286 -123.92086
97      3400,3500,3600,ROW all partial   139665  46.094286 -123.92086
99      2700,2800,2900,ROW all partial   139663  46.094286 -123.92086
100     2400,2500,2600,ROW all partial   139662  46.094286 -123.92086
101              1800,3700 all partial   139660  46.094286 -123.92086
103          3000,3100,ROW all partial   139664  46.094286 -123.92086
104     2100,2200,2300,ROW all partial   139661  46.094286 -123.92086

In [89]:
wd_df[wd_df.wetdet_delin_number==dup_txm[0]][['ORMapNum', 'county', 'trsqq', 'parcel_id', 'project_id', 'site_id', 'latitude', 'longitude', 'SetID']]

,ORMapNum,county,trsqq,parcel_id,project_id,site_id,latitude,longitude,SetID
91,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"100,200,1600,1700,ROW all partial",79733.0,132949,46.094286,-123.92086,1
92,0407.00N10.00W15BC--0000,Clatsop,07N10W15BC,"1400,1600,ROWs all partial",79733.0,132950,46.094286,-123.92086,1
93,0407.00N10.00W1600--0000,Clatsop,07N10W16,"200,300,ROW all partial",79733.0,132952,46.094286,-123.92086,1
94,0407.00N10.00W15CB--0000,Clatsop,07N10W15CB,"100,200,300,400, ROW all partial",79733.0,132951,46.094286,-123.92086,1
95,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"3200,3300,ROWs all partial",79733.0,139666,46.094286,-123.92086,1
96,0407.00N10.00W15BC--0000,Clatsop,07N10W15BC,"600,700,800,ROW all partial",79733.0,139667,46.094286,-123.92086,1
97,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"3400,3500,3600,ROW all partial",79733.0,139665,46.094286,-123.92086,1
98,0407.00N10.00W15BC--0000,Clatsop,07N10W15BC,"900,1100,1200,ROW all partial",79733.0,139669,46.094286,-123.92086,1
99,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"2700,2800,2900,ROW all partial",79733.0,139663,46.094286,-123.92086,1
100,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"2400,2500,2600,ROW all partial",79733.0,139662,46.094286,-123.92086,1
101,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"1800,3700 all partial",79733.0,139660,46.094286,-123.92086,1
102,0407.00N10.00W15BC--0000,Clatsop,07N10W15BC,"500,1000,1300,ROWs all partial",79733.0,139670,46.094286,-123.92086,1
103,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"3000,3100,ROW all partial",79733.0,139664,46.094286,-123.92086,1
104,0407.00N10.00W15BB--0000,Clatsop,07N10W15BB,"2100,2200,2300,ROW all partial",79733.0,139661,46.094286,-123.92086,1

In [143]:
len(wd_df[wd_df.wetdet_delin_number==dup_txm[0]].ORMapNum.unique()) < exp_gdf.shape[0]

True

In [96]:
all_mapIdx = read_all_mapIdx()

In [97]:
sa_gdf_all = get_all_SA(num=5)

In [108]:
dup_txm[0]

'WD2020-0280'

In [204]:
exp_gdf = split_WD_to_taxmaps(df=wd_df, gdf=sa_gdf_all, wdID=dup_txm[0], 
                              mapindex=all_mapIdx[all_mapIdx.year=='2020'])

In [160]:
exp_gdf

,geometry,code,wdID,SetID,ORMapNum
0,"MULTIPOLYGON (((444892.790 1601689.719, 444892...",2.0,WD2020-0280,1,0407.00N10.00W15BB--0000
1,"MULTIPOLYGON (((445015.752 1600633.307, 444982...",2.0,WD2020-0280,1,0407.00N10.00W15BC--0000
2,"POLYGON ((444476.993 1600655.812, 444476.993 1...",2.0,WD2020-0280,1,0407.00N10.00W15CB--0000
3,"MULTIPOLYGON (((444371.146 1600966.538, 444377...",2.0,WD2020-0280,1,0407.00N10.00W1600--0000

In [105]:
len(exp_gdf.ORMapNum.unique())==exp_gdf.shape[0]

True

In [109]:
# this can take about 9 - 11 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

In [152]:
exp_gdf1 = split_WD_to_records(df=wd_df, gdf=sa_gdf_all, wdID=dup_txm[0], 
                               mapindex=all_mapIdx[all_mapIdx.year=='2020'], 
                               taxlots=taxlot20)

In [153]:
len(exp_gdf1.record_ID.unique())==exp_gdf1.shape[0]

True

In [205]:
exp_gdf['lat'], exp_gdf['lon'] = transformer.transform(exp_gdf.representative_point().x, exp_gdf.representative_point().y)

In [162]:
df = wd_df[wd_df.wetdet_delin_number=="WD2020-0280"]

In [171]:
ndf = df.drop_duplicates(subset='ORMapNum')

In [180]:
ndf.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'SetID', 'ORMapNum'],
      dtype='object')

In [181]:
ndf[['Coord-Source']]

    Coord-Source
91  DSL Verified
92  DSL Verified
93  DSL Verified
94  DSL Verified

In [182]:
ndf.drop(columns=['parcel_id','site_id','record_ID'], inplace=True)

In [163]:
g = df.groupby('ORMapNum')

In [196]:
pi_df = g.apply(lambda x: '; '.join(x.parcel_id.unique())).to_frame(name='parcel_id').reset_index(drop=True)

In [197]:
si_df = g.apply(lambda x: '; '.join(x.site_id.astype(str).unique())).to_frame(name='site_id').reset_index(drop=True)
ri_df = g.apply(lambda x: '; '.join(x.record_ID.astype(str).unique())).to_frame(name='record_ID').reset_index()

In [199]:
sdf = pd.concat([ri_df, pi_df, si_df], axis=1)

In [201]:
exp_gdf.columns

Index(['geometry', 'code', 'wdID', 'SetID', 'ORMapNum'], dtype='object')

In [202]:
fdf = ndf.merge(sdf, on='ORMapNum')
exp_gdf = fdf.merge(exp_gdf[['code','ORMapNum','lat','lon','geometry']], on='ORMapNum')

In [203]:
exp_gdf

,wetdet_delin_number,trsqq,address_location_desc,city,county,site_name,site_desc,latitude,longitude,Coord-Source,...,recyear,IDyear,missinglot,SetID,ORMapNum,record_ID,parcel_id,site_id,code,geometry
0,WD2020-0280,07N10W15BB,W of 90266 Hwy 101,Warrenton,Clatsop,Dune Estates Subdivision,WD2020-0280 delineation,46.094286,-123.92086,DSL Verified,...,2020,2020,N,1,0407.00N10.00W15BB--0000,92; 96; 98; 100; 101; 102; 104; 105,"100,200,1600,1700,ROW all partial; 3200,3300,R...",132949; 139666; 139665; 139663; 139662; 139660...,2.0,"MULTIPOLYGON (((444892.790 1601689.719, 444892..."
1,WD2020-0280,07N10W15BC,W of 90266 Hwy 101,Warrenton,Clatsop,Dune Estates Subdivision,WD2020-0280 delineation,46.094286,-123.92086,DSL Verified,...,2020,2020,N,1,0407.00N10.00W15BC--0000,93; 97; 99; 103,"1400,1600,ROWs all partial; 600,700,800,ROW al...",132950; 139667; 139669; 139670,2.0,"MULTIPOLYGON (((445015.752 1600633.307, 444982..."
2,WD2020-0280,07N10W16,W of 90266 Hwy 101,Warrenton,Clatsop,Dune Estates Subdivision,WD2020-0280 delineation,46.094286,-123.92086,DSL Verified,...,2020,2020,N,1,0407.00N10.00W1600--0000,94,"200,300,ROW all partial",132952,2.0,"MULTIPOLYGON (((444371.146 1600966.538, 444377..."
3,WD2020-0280,07N10W15CB,W of 90266 Hwy 101,Warrenton,Clatsop,Dune Estates Subdivision,WD2020-0280 delineation,46.094286,-123.92086,DSL Verified,...,2020,2020,N,1,0407.00N10.00W15CB--0000,95,"100,200,300,400, ROW all partial",132951,2.0,"POLYGON ((444476.993 1600655.812, 444476.993 1..."

In [149]:
exp_gdf.to_file(outpath+'\\test\\WD2020_0280_txm.shp')

In [150]:
exp_gdf.geometry = exp_gdf.representative_point()
exp_gdf.to_file(outpath+'\\test\\WD2020_0280_txm_pt.shp')

In [155]:
exp_gdf1 = exp_gdf1.rename(columns=coldict)

In [156]:
exp_gdf1['lat'], exp_gdf1['lon'] = transformer.transform(exp_gdf1.representative_point().x, exp_gdf1.representative_point().y)

In [157]:
exp_gdf1.to_file(outpath+'\\test\\WD2020_0280_rid.shp')

In [158]:
exp_gdf1.geometry = exp_gdf1.representative_point()
exp_gdf1.to_file(outpath+'\\test\\WD2020_0280_rid_pt.shp')