In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [401]:
setID = 'Set002'

In [402]:
wd = combine_wd_tables(setID=setID, nm_to_add=0)

In [403]:
df = pd.DataFrame(columns = ['wetdet_delin_number', 'record_ID', 'field', 'cor_type', 'from', 'to'])

In [404]:
ml = 'N'

In [405]:
notes = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\', f'review_unmatched_{setID}_r2_{ml}_0.csv'))

In [406]:
notes.wetdet_delin_number.unique()

array(['WD2019-0544', 'WD2021-0582', 'WD2020-0383', 'WD2018-0584',
       'WD2021-0651', 'WD2021-0670', 'WD2022-0066', 'WD2021-0521',
       'WD2017-0275', 'WD2018-0158', 'WD2017-0001', 'WD2021-0285',
       'WD2021-0013', 'WD2019-0299', 'WD2021-0616', 'WD2021-0252',
       'WD2020-0620', 'WD2017-0418', 'WD2019-0300', 'WD2020-0584',
       'WD2020-0229', 'WD2019-0375', 'WD2020-0677', 'WD2018-0326',
       'WD2019-0511', 'WD2017-0498', 'WD2020-0582', 'WD2017-0290'],
      dtype=object)

In [9]:
notes.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'county', 'latitude',
       'longitude', 'DecisionLink', 'record_ID', 'IDyear', 'correct_type',
       'correction', 'cor_trsqq', 'ORTaxlot'],
      dtype='object')

In [407]:
notes.shape

(28, 13)

In [408]:
i=0

In [633]:
i = i+1

In [498]:
i

13

In [635]:
#notes.loc[i, ['wetdet_delin_number', 'record_ID', 'trsqq', 'correct_type', 'correction', 'cor_trsqq', 'parcel_id', 'ORTaxlot']]

In [417]:
print(notes.loc[i, 'correction'])

there is not any matched lot, need to review trsqq, the close-match is 03N27E

In [624]:
wdID = notes.loc[i,'wetdet_delin_number']

In [625]:
selcols = ['county', 'trsqq', 'parcel_id', 'latitude', 'longitude', 'record_ID', 'notes']
wd.loc[wd.wetdet_delin_number == wdID, selcols]

     county     trsqq parcel_id   latitude   longitude  record_ID notes
659  Morrow  02S26E27      6600  45.362382 -119.558874        660

In [595]:
1420+149

1569

In [626]:
ctyp = notes.loc[i,'correct_type']#.split(' and ')[1]
ctyp

'QQ'

In [627]:
crt = notes.loc[i,'correction']
crt

'from 00 to DA'

In [628]:
ft = crt.split('from ')[1].split(' to ')
ft

['00', 'DA']

In [73]:
ft[0] = '00'

In [374]:
ft[1] = 'DB'

In [517]:
f = crt.split('from ')[1].split(' and ')[0]
t = crt.split(' to ')[1].split(' and ')[0]

In [523]:
f = crt.split(' and ')[1].split(' to ')[0]
t = crt.split(' and ')[2]

In [524]:
print(f, t)

Q VE

In [629]:
rID = notes.loc[i,'record_ID']
rID

2080

In [138]:
df = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_r1_{ml}_notes.csv'))

In [630]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'trsqq', 'cor_type': ctyp, 'from': ft[0], 'to': ft[1]},
        ignore_index = True)

In [525]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'trsqq', 'cor_type': ctyp, 'from': f, 'to': t},
        ignore_index = True)

In [597]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'county', 'cor_type': 'county', 'from': 'Benton', 'to': 'Polk'},
        ignore_index = True)

In [631]:
df.tail(5)

   wetdet_delin_number record_ID   field            cor_type    from    to
13         WD2018-0326      2084   trsqq      section number      33    00
14         WD2019-0511      1569  county              county  Benton  Polk
15         WD2017-0498      1684   trsqq  township direction       N     S
16         WD2020-0582      1465   trsqq      section number      36    00
17         WD2017-0290      2080   trsqq                  QQ      00    DA

In [632]:
df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_r2_{ml}_notes.csv'), index=False)

In [400]:
df.shape

(28, 6)

In [636]:
df = pd.DataFrame(columns = ['wetdet_delin_number', 'field', 'cor_type', 'from', 'to'])

In [349]:
wdID

'WD2020-0668'

In [171]:
url = wd.loc[wd.wetdet_delin_number == 'WD2018-0522', 'DecisionLink'].values[0]
webbrowser.open(url)

True

In [350]:
for i in range(1, 3):
    extract_page_from_docLink(url=url, pageNm=i, wdID=wdID)
#     extract_page_from_locPath(filePath=r'T:\DCProjects\EPA-WD\docs\WD20210179 Agency Decision.pdf', 
#                           pageNm=i, wdID='WD2021-0179')
    print(i)

1
2