In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [3]:
setID = 'Set004'

In [4]:
nm_to_add = 2878

In [5]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [193]:
df = pd.DataFrame(columns = ['wetdet_delin_number', 'record_ID', 'field', 'cor_type', 'from', 'to'])

In [6]:
ml = 'N'
#ml = 'Y'

In [114]:
notes = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\', f'review_unmatched_{setID}_r2_{ml}_0.csv'))

In [9]:
notes.wetdet_delin_number.unique()

array(['WD2019-0156', 'WD2019-0039', 'WD2020-0149', 'WD2018-0462',
       'WD2020-0635', 'WD2022-0036', 'WD2017-0266', 'WD2021-0031',
       'WD2018-0321', 'WD2019-0167', 'WD2017-0486', 'WD2017-0057',
       'WD2020-0568', 'WD2018-0343', 'WD2019-0239', 'WD2020-0551',
       'WD2021-0102'], dtype=object)

In [10]:
notes.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'county', 'latitude',
       'longitude', 'DecisionLink', 'record_ID', 'IDyear', 'correct_type',
       'correction', 'cor_trsqq', 'ORTaxlot'],
      dtype='object')

In [128]:
notes.shape

(16, 13)

In [182]:
notes.tail(3)

,wetdet_delin_number,trsqq,parcel_id,county,latitude,longitude,DecisionLink,record_ID,IDyear,correct_type,correction,cor_trsqq,ORTaxlot
13,WD2019-0239,14S05W33BA,"1800,5200",Linn,44.314241,-123.301817,https://docs.dsl.state.or.us/PublicReview/Elec...,3189,2019,county,from Linn to Benton,NaN,NaN
14,WD2020-0551,01S02E15CA,"2700,ROW",Multnomah,45.480421,-122.549383,https://docs.dsl.state.or.us/PublicReview/Elec...,3614,2020,lot number,"lot number ['2700', 'ROADS'] might be incorrec...",01S02E15CA,2601.00S02.00E15CA--000001500
15,WD2021-0102,01N01W22C,2800,Multnomah,45.553611,-122.796858,https://docs.dsl.state.or.us/PublicReview/Elec...,3655,2021,county,from Multnomah to Washington,NaN,NaN

In [190]:
i=0

In [179]:
i = i+1

In [180]:
i

15

In [191]:
notes.loc[i, ['wetdet_delin_number', 'record_ID', 'trsqq', 'correct_type', 'correction', 'cor_trsqq', 'parcel_id', 'ORTaxlot']]

wetdet_delin_number                      WD2019-0156
record_ID                                       3811
trsqq                                     04S04W15CA
correct_type                                      QQ
correction                             from CA to 00
cor_trsqq                                 04S04W1500
parcel_id                                       3100
ORTaxlot               3604.00S04.00W1500--000003100
Name: 0, dtype: object

In [196]:
print(notes.loc[i, 'correction'])

from CA to 00

In [197]:
wdID = notes.loc[i,'wetdet_delin_number']

In [198]:
wdID

'WD2019-0156'

In [199]:
url = wd.loc[wd.wetdet_delin_number == wdID, 'DecisionLink'].values[0]
webbrowser.open(url)

True

In [200]:
selcols = ['county', 'trsqq', 'parcel_id', 'latitude', 'longitude', 'record_ID', 'notes']
wd.loc[wd.wetdet_delin_number == wdID, selcols]

      county       trsqq parcel_id   latitude   longitude  record_ID notes
932  Yamhill  04S04W15CA      3100  45.222934 -123.165247       3811

In [42]:
wd.parcel_id.values[587]

'3400'

In [143]:
ctyp = notes.loc[i,'correct_type']#.split(' and ')[1]
ctyp

'QQ'

In [85]:
ctyp = 'QQ'

In [201]:
crt = notes.loc[i,'correction']
crt

'from CA to 00'

In [202]:
ft = crt.split('from ')[1].split(' to ')
ft

['CA', '00']

In [86]:
ft = ['1N1E33AC', '01N01E33AC']

In [73]:
ft[0] = '00'

In [38]:
ft[1] = 'DB'

In [39]:
ft

['Multnomah', 'Washington']

In [517]:
f = crt.split('from ')[1].split(' and ')[0]
t = crt.split(' to ')[1].split(' and ')[0]

In [523]:
f = crt.split(' and ')[1].split(' to ')[0]
t = crt.split(' and ')[2]

In [524]:
print(f, t)

Q VE

In [203]:
rID = notes.loc[i,'record_ID']
rID

3811

In [90]:
df = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_r2_{ml}_notes.csv'))

In [204]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'trsqq', 'cor_type': ctyp, 'from': ft[0], 'to': ft[1]},
        ignore_index = True)

In [189]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'county', 'cor_type': 'county', 'from': ft[0], 'to': ft[1]},
        ignore_index = True)

In [67]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'parcel id', 'cor_type': ctyp, 'from': ft[0], 'to': ft[1]},
        ignore_index = True)

In [525]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'trsqq', 'cor_type': ctyp, 'from': f, 'to': t},
        ignore_index = True)

In [597]:
df = df.append({'wetdet_delin_number': wdID, 'record_ID': rID, 'field': 'county', 'cor_type': 'county', 'from': 'Benton', 'to': 'Polk'},
        ignore_index = True)

In [206]:
df.tail(5)

   wetdet_delin_number record_ID   field cor_type       from          to
6          WD2017-0057      3334  county   county  Multnomah  Washington
7          WD2020-0568      3267   trsqq       QQ         00          B0
8          WD2018-0343      3423  county   county  Multnomah  Washington
9          WD2019-0239      3189  county   county       Linn      Benton
10         WD2021-0102      3655  county   county  Multnomah  Washington

In [207]:
df.head()

  wetdet_delin_number record_ID   field      cor_type       from          to
0         WD2019-0156      3811   trsqq            QQ         CA          00
1         WD2019-0039      3499   trsqq            QQ         00          CB
2         WD2018-0462      3466  county        county  Multnomah  Washington
3         WD2021-0031      2908   trsqq  range number         14          15
4         WD2018-0321      3421   trsqq            QQ         00          D0

In [70]:
df.loc[2, 'field'] = 'parcel_id'

In [208]:
df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_r2_{ml}_notes.csv'), index=False)

In [400]:
df.shape

(28, 6)

In [636]:
df = pd.DataFrame(columns = ['wetdet_delin_number', 'field', 'cor_type', 'from', 'to'])

In [349]:
wdID

'WD2020-0668'

In [350]:
for i in range(1, 3):
    extract_page_from_docLink(url=url, pageNm=i, wdID=wdID)
#     extract_page_from_locPath(filePath=r'T:\DCProjects\EPA-WD\docs\WD20210179 Agency Decision.pdf', 
#                           pageNm=i, wdID='WD2021-0179')
    print(i)

1
2

In [7]:
setgdf = gpd.read_file(os.path.join(inpath, 'GIS', 'Join_Statewide.gdb'), layer=f'WD_{setID}_Combined')

In [52]:
rev_r2 = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\', f'review_unmatched_{setID}_r2_{ml}_0.csv'))

In [53]:
rev_r2

,wetdet_delin_number,trsqq,parcel_id,county,latitude,longitude,DecisionLink,record_ID,IDyear,correct_type,correction,cor_trsqq,ORTaxlot
0,WD2018-0124,39S20E21,ROWs,Lake,42.164626,-120.366529,https://docs.dsl.state.or.us/PublicReview/docv...,1089,2018,QQ,from 00 to CD,39S20E21CD,1939.00S20.00E21CD--0000ROADS
1,WD2021-0703,38S20E09,Many,Lake,42.178657,-120.395374,NaN,1148,2021,to review,"there is not any matched lot, need to review t...",39S20E0000,1939.00S20.00E0000--0000ROADS
2,WD2018-0281,25S13W04,MANY,Coos,43.432600,-124.240200,https://docs.dsl.state.or.us/PublicReview/Elec...,209,2018,to review,"there is not any matched lot, need to review t...",25S13W0300,0625.00S13.00W0300--000000200
3,WD2019-0124,36S02W28,"Many,ROW,All part",Jackson,42.419580,-122.954460,https://docs.dsl.state.or.us/PublicReview/Elec...,807,2019,to review,"there is not any matched lot, need to review t...",36S02W2100,1536.00S02.00W2100--000001300
4,WD2022-0261,29S15W12,ROW,Coos,43.081203,-124.430481,NaN,327,2022,coordinate,"coordinate might be incorrect, nearby taxlot i...",29S15W12,0629.00S15.00W1200--000000100
5,WD2022-0087,15S10E09BB,Elm St ROW,Deschutes,44.288619,-121.549925,https://docs.dsl.state.or.us/PublicReview/Elec...,559,2022,coordinate,"coordinate might be incorrect, nearby taxlot i...",15S10E09BB,0915.00S10.00E09BB--000008300

In [10]:
i=0

In [ ]:
i=i+1

In [11]:
rev_r2.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'county', 'latitude',
       'longitude', 'DecisionLink', 'record_ID', 'IDyear', 'correct_type',
       'correction', 'cor_trsqq', 'ORTaxlot'],
      dtype='object')

In [54]:
rev_r2.loc[1, :]

wetdet_delin_number                                          WD2021-0703
trsqq                                                           38S20E09
parcel_id                                                           Many
county                                                              Lake
latitude                                                       42.178657
longitude                                                    -120.395374
DecisionLink                                                         NaN
record_ID                                                           1148
IDyear                                                              2021
correct_type                                                   to review
correction             there is not any matched lot, need to review t...
cor_trsqq                                                     39S20E0000
ORTaxlot                                   1939.00S20.00E0000--0000ROADS
Name: 1, dtype: object

In [75]:
notes = pd.read_csv(os.path.join(inpath + '\\output\\to_review\\unmatched_df_Set001_r2_Y_notes.csv'))

In [76]:
adjust_cor_from_to(notes)

  wetdet_delin_number  record_ID      field        cor_type  from   to
0         WD2018-0124       1089      trsqq              QQ    00   CD
1         WD2021-0703       1148      trsqq  section number    09   00
2         WD2021-0703       1148  parcel_id       parcel id  Many  ROW