In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [2]:
# this can take about 9 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 9.0 minutes to complete

In [3]:
trsqq, trsqq_dict, df = read_trsqq()

In [20]:
test = '03N02W16AC'

In [21]:
test in trsqq

False

In [7]:
trsqq_dict[test]

'3603.00S03.00W3600--0000WATER'

In [111]:
x = "lot number ['ROADS'] might be incorrect, the matched taxlot is 1839.00S09.00E1600--000001100 for 39S09E16"

In [114]:
txid = x.split('the matched taxlot is ')[1].split(' for ')[0]

In [115]:
txid

'1839.00S09.00E1600--000001100'

In [113]:
trsqq = x.split(' for ')[1]

In [108]:
txid = x.split(', about')[0].replace('coordinate might be incorrect, nearby taxlot is ', '')

In [109]:
txid

'0504.00N01.00W03CB--000001900'

In [9]:
df.head(3)

                        ORTaxlot       trsqq
0  0000.0000.0000000--0000000000  0000.0000-
1  00000000000000000000000000000      000000
2  0106.00S37.00E0000--000000100      06S37E

In [11]:
'1838.00S11.50E3100--000000400' in df.ORTaxlot.values

True

In [106]:
trsqq_dict['1839.00S09.00E1400--000000101']

'39S09E14'

In [77]:
convert_trsqq(test)[:16]

'33.00S07.50E0900'

In [19]:
df.loc[df.trsqq == test, 'ORTaxlot']

1246140    2601.00N03.00E22D0--000000101
1246141    2601.00N03.00E22D0--000000102
1246142    2601.00N03.00E22D0--000000200
1246143    2601.00N03.00E22D0--000000300
1246144    2601.00N03.00E22D0--000000400
1246145    2601.00N03.00E22D0--000000500
1246146    2601.00N03.00E22D0--000000600
1246147    2601.00N03.00E22D0--000000700
1246148    2601.00N03.00E22D0--000000900
1246149    2601.00N03.00E22D0--000001001
1246150    2601.00N03.00E22D0--000001003
1246151    2601.00N03.00E22D0--000001004
1246152    2601.00N03.00E22D0--000001005
1246153    2601.00N03.00E22D0--000001006
1246154    2601.00N03.00E22D0--000001007
1246155    2601.00N03.00E22D0--000001008
1246156    2601.00N03.00E22D0--000001100
1246157    2601.00N03.00E22D0--000001300
1246158    2601.00N03.00E22D0--000001400
1246159    2601.00N03.00E22D0--000001500
1246160    2601.00N03.00E22D0--000001600
1246161    2601.00N03.00E22D0--0000NONTL
Name: ORTaxlot, dtype: object

In [105]:
df.loc[df.trsqq == '39S09E14', 'ORTaxlot']

706990    1839.00S09.00E1400--000000101
706991    1839.00S09.00E1400--000000102
706992    1839.00S09.00E1400--000000103
706993    1839.00S09.00E1400--000000104
706994    1839.00S09.00E1400--000000105
706995    1839.00S09.00E1400--000000106
706996    1839.00S09.00E1400--000000500
706997    1839.00S09.00E1400--000000600
706998    1839.00S09.00E1400--000000700
706999    1839.00S09.00E1400--000000800
707000    1839.00S09.00E1400--000000900
707001    1839.00S09.00E1400--000001000
Name: ORTaxlot, dtype: object

In [9]:
lat = 42.385614
lon = -121.049808

In [10]:
wd_pt = get_point_from_lonlat(lon, lat, export=True)

In [11]:
extract_taxlot_info(wd_pt, all_taxlot, year='2018')

'1837.00S14.00E03CD--000001600'

In [14]:
setID = 'Set003'

In [117]:
matched = gpd.read_file(os.path.join(inpath + f'\\{outfolder}\\', f'matched_records_{setID}.shp'))

In [118]:
'WD2020-0526' in matched.wdID.unique()

True

In [119]:
matched[matched.wdID=='WD2020-0526']

,wdID,trsqq,parcel_id,notes,lots,lot,ORTaxlot,record_ID,geometry
1305,WD2020-0526,02N10W00,5201,None,5201,5201,2902.00N10.00W0000--000005201,2791,"POLYGON ((434013.105 1431294.936, 434085.556 1..."

In [19]:
matched.loc[matched.wdID=='WD2020-0007', 'ORTaxlot']

662    1834.00S07.00E2800--000000100
704    1834.00S07.00E34DC--000001800
Name: ORTaxlot, dtype: object