In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [2]:
# this can take about 7 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 9.0 minutes to complete

In [3]:
trsqq, trsqq_dict, df = read_trsqq()

In [4]:
test = '03S03W36'

In [5]:
test in trsqq

True

In [7]:
trsqq_dict[test]

'3603.00S03.00W3600--0000WATER'

In [111]:
x = "lot number ['ROADS'] might be incorrect, the matched taxlot is 1839.00S09.00E1600--000001100 for 39S09E16"

In [114]:
txid = x.split('the matched taxlot is ')[1].split(' for ')[0]

In [115]:
txid

'1839.00S09.00E1600--000001100'

In [113]:
trsqq = x.split(' for ')[1]

In [108]:
txid = x.split(', about')[0].replace('coordinate might be incorrect, nearby taxlot is ', '')

In [109]:
txid

'0504.00N01.00W03CB--000001900'

In [9]:
df.head(3)

                        ORTaxlot       trsqq
0  0000.0000.0000000--0000000000  0000.0000-
1  00000000000000000000000000000      000000
2  0106.00S37.00E0000--000000100      06S37E

In [11]:
'1838.00S11.50E3100--000000400' in df.ORTaxlot.values

True

In [106]:
trsqq_dict['1839.00S09.00E1400--000000101']

'39S09E14'

In [77]:
convert_trsqq(test)[:16]

'33.00S07.50E0900'

In [8]:
df.loc[df.trsqq == test, 'ORTaxlot']

1001886    2403.00S03.00W3600--000000100
1001887    2403.00S03.00W3600--000000200
1001888    2403.00S03.00W3600--0000ROADS
1001889    2403.00S03.00W3600--0000WATER
1814798    3603.00S03.00W3600--000000100
1814799    3603.00S03.00W3600--000000101
1814800    3603.00S03.00W3600--000000102
1814801    3603.00S03.00W3600--000000103
1814802    3603.00S03.00W3600--000000200
1814803    3603.00S03.00W3600--000000201
1814804    3603.00S03.00W3600--000000202
1814805    3603.00S03.00W3600--000000203
1814806    3603.00S03.00W3600--000000204
1814807    3603.00S03.00W3600--000000300
1814808    3603.00S03.00W3600--000000301
1814809    3603.00S03.00W3600--000000400
1814810    3603.00S03.00W3600--000000500
1814811    3603.00S03.00W3600--000000501
1814812    3603.00S03.00W3600--000000600
1814813    3603.00S03.00W3600--000000700
1814814    3603.00S03.00W3600--000000800
1814815    3603.00S03.00W3600--000000900
1814816    3603.00S03.00W3600--000000901
1814817    3603.00S03.00W3600--000001000
1814818    3603.00S03.00W3600--000001200
1814819    3603.00S03.00W3600--000001300
1814820    3603.00S03.00W3600--000001400
1814821    3603.00S03.00W3600--000001401
1814822    3603.00S03.00W3600--000001500
1814823    3603.00S03.00W3600--000001600
1814824    3603.00S03.00W3600--000001700
1814825    3603.00S03.00W3600--000001800
1814826    3603.00S03.00W3600--000001900
1814827    3603.00S03.00W3600--000002000
1814828    3603.00S03.00W3600--000002001
1814829    3603.00S03.00W3600--0000ROADS
1814830    3603.00S03.00W3600--0000WATER
Name: ORTaxlot, dtype: object

In [105]:
df.loc[df.trsqq == '39S09E14', 'ORTaxlot']

706990    1839.00S09.00E1400--000000101
706991    1839.00S09.00E1400--000000102
706992    1839.00S09.00E1400--000000103
706993    1839.00S09.00E1400--000000104
706994    1839.00S09.00E1400--000000105
706995    1839.00S09.00E1400--000000106
706996    1839.00S09.00E1400--000000500
706997    1839.00S09.00E1400--000000600
706998    1839.00S09.00E1400--000000700
706999    1839.00S09.00E1400--000000800
707000    1839.00S09.00E1400--000000900
707001    1839.00S09.00E1400--000001000
Name: ORTaxlot, dtype: object

In [9]:
lat = 42.385614
lon = -121.049808

In [10]:
wd_pt = get_point_from_lonlat(lon, lat, export=True)

In [11]:
extract_taxlot_info(wd_pt, all_taxlot, year='2018')

'1837.00S14.00E03CD--000001600'

In [14]:
setID = 'Set003'

In [117]:
matched = gpd.read_file(os.path.join(inpath + f'\\{outfolder}\\', f'matched_records_{setID}.shp'))

In [118]:
'WD2020-0526' in matched.wdID.unique()

True

In [119]:
matched[matched.wdID=='WD2020-0526']

,wdID,trsqq,parcel_id,notes,lots,lot,ORTaxlot,record_ID,geometry
1305,WD2020-0526,02N10W00,5201,None,5201,5201,2902.00N10.00W0000--000005201,2791,"POLYGON ((434013.105 1431294.936, 434085.556 1..."

In [19]:
matched.loc[matched.wdID=='WD2020-0007', 'ORTaxlot']

662    1834.00S07.00E2800--000000100
704    1834.00S07.00E34DC--000001800
Name: ORTaxlot, dtype: object