In [1]:
from wdtools import *

In [2]:
# this can take about 17 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 7.0 minutes to complete

In [3]:
all_taxlot.shape

(9043030, 3)

In [4]:
all_taxlot.head(3)

,year,ORTaxlot,geometry
0,2017,,"MULTIPOLYGON (((762282.329 1368122.698, 762282..."
1,2017,0 .00.000000--0000,"MULTIPOLYGON (((486021.516 1375588.457, 485872..."
2,2017,0 .00.000000--000000000,"MULTIPOLYGON (((458567.232 1386372.520, 458625..."

In [5]:
setID = 'Set003'

In [6]:
nm_to_add = 2143

In [7]:
df = combined_reindexed_data(setID=setID, nm_to_add=nm_to_add)

In [9]:
df.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,recordID,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID
0,WD2017-0028,04N01W09BB,100,"E of Hwy 30, N of Gable Rd",St Helens,Columbia,Gable Rd 04N01W09BB,NaN,45.84792,-122.823410,...,1,None,100,100,5.0,0504.00N01.00W09BB--000000100,2017,2017,N,2144
1,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.75837,-122.882498,...,2,None,"1000, 1100, 1300",1000,5.0,0503.00N02.00W12BD--000001000,2017,2017,N,2145
2,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.75837,-122.882498,...,2,None,"1000, 1100, 1300",1100,5.0,0503.00N02.00W12BD--000001100,2017,2017,N,2145

In [8]:
# export = False
gdf = match_wd_data_with_taxlot(df=df, setID=setID, all_taxlot=all_taxlot, nm_to_add=nm_to_add, export=True)

In [10]:
gdf.tail(3)

,wdID,trsqq,parcel_id,loc_desc,city,county,site_name,site_desc,latitude,longitude,...,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID,geometry
1099,WD2022-0178,13S11W19AC,7201,NE Crestline Dr and NE Alsea Hwy,Waldport,Lincoln,Southworth Park,WD2022-0178 wetdet (grant),44.428263,-124.060213,...,None,7201,7201,21.0,2113.00S11.00W19AC--000007201,2022,2022,N,2685,"MULTIPOLYGON (((382770.605 996651.487, 382757...."
1100,WD2022-0201,06S11W34DA,700,5522 NW Keel Ave,Lincoln City,Lincoln,Paul Allen,WD2022-0201 Offsite WetDet,45.005230,-124.008293,...,None,700,700,21.0,2106.00S11.00W34DA--000000700,2022,2022,N,2686,"MULTIPOLYGON (((405353.058 1205960.731, 405352..."
1101,WD2022-0292,12S11W21,200,Beaver Creek Rd,Seal Rock,Lincoln,ENF8419,WD2022-0292 wetdet,44.511479,-124.032859,...,None,200,200,21.0,2112.00S11.00W2100--000000200,2022,2022,N,2687,"MULTIPOLYGON (((392145.802 1026540.501, 392271..."

In [11]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [12]:
wd.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
0,WD2017-0028,04N01W09BB,100,"E of Hwy 30, N of Gable Rd",St Helens,Columbia,Gable Rd 04N01W09BB,NaN,45.847920,-122.823410,...,2017-01-20,2017-03-01,NaN,NaN,104151,2144,None,2017,2017,N
1,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.758370,-122.882498,...,2017-02-01,2017-02-22,NaN,NaN,104260,2145,None,2017,2017,N
2,WD2017-0076,04N01W05CD,2102,"2480 Gable Rd, St Helens",St Helens,Columbia,04N01W05CD,NaN,45.851632,-122.836404,...,2017-02-24,2017-03-02,NaN,NaN,104533,2146,None,2017,2017,N

In [13]:
wd.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [14]:
unmatched_df = report_unmatched(gdf=gdf, setID=setID, nm_to_add=nm_to_add, mute = False)

it is about 37.41% of data in the original 735 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [15]:
unmatched_df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}.csv'), index=False)

In [6]:
res = check_corrected_data(df=df, setID=setID, all_taxlot=all_taxlot, nm_to_add=nm_to_add, export=False)

In [7]:
len(res[0].record_ID.unique())

1331

In [8]:
len(res[0][~res[0].wdID.isin(res[1].wetdet_delin_number.values)].record_ID.unique())

1307

In [9]:
df_wlots_to_check = res[3]

In [10]:
len(df_wlots_to_check[df_wlots_to_check.missinglot=='N'].record_ID.unique())

27

In [11]:
df_wlots_to_check.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'df_with_lots_check_{setID}.csv'), index=False)