In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [3]:
gdf = readTaxlots(year=2014)

Baker

KeyError: "['Geometry'] not in index"

In [3]:
# this can take about 9 - 11 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 10.0 minutes to complete

In [3]:
n=7

In [4]:
wd_df = get_all_wd(num=n-1)

In [6]:
wd_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'SetID'],
      dtype='object')

In [16]:
wd_df.shape

(4972, 26)

In [5]:
setID = 'Set00'+str(n); nm_to_add = wd_df.shape[0]

In [6]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [10]:
wd.county.unique()

array(['Clatsop', 'CLATSOP', 'Deschutes', 'DESCHUTES'], dtype=object)

In [11]:
wd[wd.county=='CLATSOP']

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,Coord-Source,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
275,WD2016-0017,08N10W27AA,2800p,VACATED PUBLIC ROW NEAR SE 11TH PL AND SE MARL...,WARRENTON,CLATSOP,PUBLIC ROW 08N10W27D,DEVELOPED FOR A COMMERCIAL MINI STORAGE FACILITY,46.154444,-123.902119,...,DSL Verified,2016-02-03,NaT,NaN,97807,5248,Partial,2016,2016,N

In [9]:
wd.groupby(['county'])['wetdet_delin_number'].count()

county
CLATSOP        1
Clatsop      295
DESCHUTES      2
Deschutes    132
Name: wetdet_delin_number, dtype: int64

In [57]:
wd.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'DocumentName', 'DecisionLink', 'is_batch_file', 'status_name',
       'received_date', 'Coord-Source', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [74]:
wd.trsqq.apply(lambda x: scan_trsqq(x))

trsqq 07N0908C has less than three numbers or letters

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
425    0.0
426    0.0
427    0.0
428    0.0
429    0.0
Name: trsqq, Length: 430, dtype: float64

In [75]:
wd[wd.trsqq=='07N0908C']

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,Coord-Source,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
124,WD2011-0047,07N0908C,600,"Youngs River Rd, starting approx 1000 ft S of ...",Warrenton,Clatsop,07N09W08C,WD2011-0047 Proposed pipeline,46.1026,-123.8373,...,DSL Verified,2011-02-24,NaT,NaN,82099,5097,,2011,2011,N

In [73]:
url = wd.loc[wd.wetdet_delin_number == 'WD2011-0047', 'DecisionLink'].values[0]
if str(url) == 'nan':
    print('Decision link is not available')
else:
    webbrowser.open(url)

In [107]:
wd, setgdf, unmatched_df = run_Tier1(setID=setID, nm_to_add=nm_to_add, all_taxlot=all_taxlot)

it took 0.0 minutes to complete
it is about 13.02% of data in the original 430 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [108]:
r1_df, r2_df = run_Tier2_step1(setID=setID, unmatched_df=unmatched_df, all_taxlot=all_taxlot)

reviewing WD2014-0179
all lots are matched...
corrected trsqq...
reviewing WD2009-0135
there is not any matched lot, need to review trsqq, the close-match is 02S03E17
lots to check: ['201'], and lots to compare: ['1200', '1300', '1301', '1302', '1400', '1490', '1500', '1501', '1502', '1503', '1600', '1601', '1700', '1800', '1801', '1802', '1900', '2000', '2100', '2200', '2300', '2400', '2401', '2500', '2600', '2700', '2701', '2702', '2900', '3000', '3100', '3200', '3300', '3400', '3401', '3500', 'ROADS', 'WATER']
reviewing WD2008-0325
there is not any matched lot, need to review trsqq, the close-match is 08N10W27CA
lots to check: ['201'], and lots to compare: ['100', '200', '300', '400', 'ROADS']
reviewing WD2016-0001
all lots are matched...
corrected trsqq...
reviewing WD2016-0255
all lots are matched...
corrected trsqq...
reviewing WD2012-0073
there is not any matched lot, need to review trsqq, the close-match is 17S12E06
lots to check: ['4800', '4900'], and lots to compare: ['100', '200', '201', '300', '301', '302', '701', '705', '1000', '1001', '1002', '1100', '1101', '1102', '1103', '1104']
reviewing WD2015-0283
all lots are matched...
corrected trsqq...
reviewing WD2015-0449
all lots are matched...
corrected trsqq...
reviewing WD2008-0343
there is not any matched lot, need to review trsqq, the close-match is 08N10W27DD
lots to check: ['202'], and lots to compare: ['100', '102', '200', '300', '400', '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300', '1400', '1500', '1700', '1800', '1900', '2000', '2100', '2200', '2300', '2400', '2500', '2600', '2700', '2800', '2900', '3000', '3100', '3200', '3203', '3300', '3301', '3400', '3401', '3500', '3600', '3700', '3800', '3900', '4000', '4100', '4200', '4300', '4400', '4500', '4600', '5000', '5400', '5401', '5800', '5900', '6000', '6100', '6200', '6300', '6400', '6500', '6600', '6700', '6800', '6900', '7000', '7100', '7200', '7300', '7400', '7500', '7600', '7700', 'ROADS']
reviewing WD2013-0169
all lots are matched...
corrected trsqq...
reviewing WD2011-0047
all lots are matched...
corrected trsqq...
reviewing WD2015-0297
all lots are matched...
corrected trsqq...
reviewing WD2015-0266
all lots are matched...
corrected trsqq...
reviewing WD2009-0289
all lots are matched...
corrected trsqq...
reviewing WD2013-0130
all lots are matched...
corrected trsqq...
reviewing WD2009-0155
all lots are matched...
corrected trsqq...
reviewing WD2015-0061
all lots are matched...
corrected trsqq...
reviewing WD2008-0294
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2008-0302
all lots are matched...
corrected trsqq...

Manual run notes_review_set6 to get correction notes

In [10]:
matched, unmatched_df = run_Tier2_step3(r1_df=r1_df, r2_df=r2_df, setID=setID, nm_to_add=nm_to_add, 
                                        wd=wd, all_taxlot=all_taxlot)

it is about 4.65% of data in the original 602 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [28]:
len(wd.wetdet_delin_number.unique())

322

In [30]:
'WD2018-0660' in matched.wdID.unique()

True