In [1]:
%load_ext autoreload
%autoreload 2

In [141]:
from wdtools import *

In [4]:
# this can take about 9 - 11 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 9.0 minutes to complete

In [58]:
all_taxlot.shape

(10726424, 3)

In [5]:
all_taxlot.head(3)

,year,ORTaxlot,geometry
0,2016,,"MULTIPOLYGON (((647614.242 1382867.700, 647613..."
1,2016,0 .00.000000--0000,"MULTIPOLYGON (((486021.517 1375588.457, 485872..."
2,2016,0 .00.000000--000000000,"MULTIPOLYGON (((485310.155 1359830.882, 485282..."

In [91]:
setID = 'Set004'; nm_to_add = 2878

In [88]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [59]:
wd.shape

(1054, 25)

In [8]:
wd.county.unique()

array(['Crook', 'Curry', 'Hood River', 'Jefferson', 'Linn', 'Multnomah',
       'Wasco', 'Yamhill', 'Yamhill and Washington'], dtype=object)

In [16]:
wd[wd.county=='Yamhill and Washington'].wetdet_delin_number.unique()

array(['WD2022-0083'], dtype=object)

In [9]:
wd.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'DocumentName', 'DecisionLink', 'is_batch_file', 'status_name',
       'received_date', 'Coord-Source', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [10]:
wd.parcel_id.unique()

array(['700p', '1601,1700,1800,All part', '1210,4000', '600', '1600',
       '300,1223,1224,2000,All part', '1400', '100,601',
       '100,200,400,600,601,ROW,All part', '5900p,ROW', '200', '100',
       '2000', '900', '7300p,WATER,ROW', '202', '601', '300', '1223',
       '702,800', '100,401', '2900,3000', '1228', '800p,1900',
       '1600,1609', '1600p', '500', '1231', '600p', '300p', '100p',
       '800p', '2300,2301,2400,2800',
       '300,800,1800,1900,2000,2100,All part', '100p,ROW',
       '1600,1602,1605,1608,All part', '300p,301p,ROW', '1000p,1100p,ROW',
       '101p', '100,101,ROW', '200,600,ROW', '102,400,ROW', '101',
       '200,301,500,501,700,800,900,1000,ROW', '501,700,701,ROW',
       '101,ROW', '204', '100,104,500,ROW', '201,205,300,ROW', 'ROWs',
       '4600p,4800p,ROWs', '100p,2100p,ROW', '604p,605p', '400', '1500',
       '200,203', '1502,1800', '3200', '1200', '800,900', '298p,299',
       '2103,2105', '2103,2104,2105', '117', '2302', '201', '2300p',
       '100p,101p', '2502, 2503', '1900', 'ROW', '700', '100,101',
       '1600,1700,1800,1900,1901,1902,2000,2100', '1922',
       '1603,2501,2503,All part', '1501', '100p,200p', '4600p',
       '1500,1600,1700,ROW,All part', '6800p,7100p,ROW', '1000p',
       '3300,3400', '100,ROW', '4000', '502', '1904', '4900', '400p,ROW',
       '100p,101p,ROW', '100,101,200,ROW,All part', '1920', '1601',
       '1000p,1001,1002', '2201,2202,2400p', '5400', '1102', '200p',
       '2400', '299', '3100p', '800', '500,600,700,901',
       '800,900,903,904,1000', '1300', '1401', '2800,3800', '501',
       '2800,ROW', '206p,800p,ROW', '100p,200p,ROW', '300p,400p,ROW',
       '400p,500p,ROW', '100,200,300,ROW,All part', '690p,691p,ROW',
       '100,199,200,300,800,900',
       '8500,8400,8300,8200,8100,8000,7900,7800,All part',
       '4200,5100,5000,4900,ROW,All part',
       '7700,7600,7500,2300,2203,1800,1500,1504,All part',
       '1503,1580,1602,1600,1400,1300,4000,4100,All part', '800,1300',
       '1200p', '6200', '632', '2200', '400,405', '1800', '1208', '1700',
       '2409', '1207', 'I-5 ROW', '403p', '1100p',
       '1500,1600,1702,1703,1800,1901,2000', '102,103', '5600, ROW',
       '1701', '5500p', '5600,RAILS,ROW', '100,202,300',
       '600,3800,RAILS,ROW', '1100,1102', '3805,3930', '2602', '2202',
       '300, 403', '2604', '600,607p', '1018', '102,105p',
       '300,500,501,All part', '702', '110', '2802, 2804', '400p',
       '301,302', '2700', '5400,5600,5700,5800,5900', '113,114,203',
       '1000', '2700,2701', '1201, 1203', '7000', '6500', '1001', '124',
       '1800, 1900, 2000', '1104', '8300', '100,500,501,ROW,All part',
       '600p,603p,ROW', '226', '401', '1701p', '303,401', '1702', '805',
       '2000,2100,3302', '2404', '2100', '3802', '7400', '1800,5200',
       '101p,102p', '506', '103', '601p,700p', '600,607', '902', '301',
       '2102', '1302,1403,1300,1404,All part', '700p,800p', '500p',
       '221p', '3000p', '4403', '901', '600, 1000', '2300,ROW',
       '300,400,ROWs', '100,101,106,108', '200,205', '432', '216', '502p',
       '11700', '3300', '1000,1100,1200', '2300p,ROW', '212,214',
       '203,206,207', '100p,1000p,ROW', '300p,ROW', '1800p', '2401p',
       '3000', '3500', '11000,11100,1700,All part', '102p,200p',
       '200,300,400,401,402,500,501,All part', '502,600,800,All part',
       '100,5600,11500,All part', '100,6901,7001,All part', '3700', '105',
       '4500,4502,4503', '810', '2205', '301,400,303p,401p', '1302p',
       '1100', '202,205', '903', '704p,2500', '400p,402p', '203',
       '201p,210,404p', '306', '100,101,500', 'WATER', nan, '3502',
       '1001,ROWs', '907', '3902', '600p,1500p,ROW', '1501p',
       '4600,4601,4602', '5700,5800,5900,6000,ROW', '100,200,300',
       '8600,8700,ROW', '200,300,500', '100,200,300,400,500,600,700',
       '800,900,1300,1700,2100,2400,2500',
       '600,800,900,1000,1200,1300,1400,1600,1700,1800',
       '1300,1400,1500,3900,4000', '300,400',
       '100,200,300,400,500,600,700,800', '2700,3200,3600,3700', '4500',
       '800,1200', '116', '2600,2700', '100,200p',
       '101,102,300,301,800,801,1100,1200', '900p', '300, 1400', '13800',
       '600,500,400', '100,200,300,ROW', '800,901',
       '1100,1500,1600,4800,4900,5000,5100,5200,All part', '1500p,1600p',
       '5300,5400,5500,5600,5700,5800,5900,6000,All part',
       '6900,7700,7800,7900,8000,8100,8200,8300,All part',
       '6100,6200,6300,6400,6500,6600,6700,6800,All part', '5100',
       '6500,6501,6502', '12200,12100', '6800,7100', '11200',
       '10002, 10003', '2300', '12500', '3600p,500p,ROW', '7300',
       '2000,2100,2400,2500,ROW,All part',
       '1000,1800,1801,1901,1900,All part', '900p,ROW', '2500,2600',
       '1100,1200,1300,All part', '1200,1500,2100,2200,3200,All part',
       '400,600', '1100,1200,1300,1400,1500,90000',
       '100,200,300,400,500,900,1000,1100,1200', '700,800,900,1000',
       '300,400,500,700,900', '5600', '3100', '10004', '5900', '3600p',
       '100,202', '4100', '200,300,700,2000',
       '8300,8400,8500,8600,8700,8800,8900,ROWs,All part',
       '100,700,800,900,1000,1100,1200,1300,ROWs,All part',
       '12500p,12600p,ROWs', '1200p,3900,4000,8300p,ROWs',
       '15100,15300,15600,15700,15800,15900,ROWs,All part',
       '601,602,1900,2000,2100,2200,2300,ROWs,All part',
       '7600p,3400,5400,5500,6900,ROWs,All part',
       '6200,6300,6800,7000,7300,7400,7500,ROWs,All part',
       '3900,4000,4100,4200,5301,6000,6100,ROWs,All part',
       '3000,3100,3200,3300,3500,3700,3800,ROWs,All part',
       '2400,2500,2501,2600,2702,2800,2900,ROWs,All part',
       '13100,13200,13300,ROWs,All part',
       '12500,12600,12700,12800,12900,13000,ROWs,All part',
       '12100,12200,12300,12400,12401,ROWs,All part',
       '7500,7600,8100,8300,8400,8500,ROWs,All part',
       '11300,11400,11500,11600,11700,11800,ROWs,All part',
       '1400,4000,4100,4200,4300,7200,7300,ROWs,All part',
       '9000,9100,9200,9600,9700,9800,ROWs,All part',
       '11900,12000,12100,12200,12300,12400,ROWs,All part', '13200',
       '6500, 6600', '10900, 11100, 11200', '4800,4900,5000', '3800,3900',
       '100p ,200p', '404', '1700,1800', '3400', '1003', '207p,216p',
       '90078,90079,90080,All part',
       '90068,90069,90072,90073,90074,All part',
       '600,2400,2500,2600,3500,3600,3700,3702,All part',
       '3800,4500,90000,90064,90065,90066,90067,All part',
       '14700,14800,14900,15000,15100,17600,All part',
       '102,300,400,500,All part',
       '1400,900,600,500,400,300,ROW,All part', '202p,800p,ROW',
       '300p,200p,ROW', '202,201,108,107,105,104,ROW,All part',
       '300,400,500,All part', '700,800,900',
       '2600,2700,2800,3000,ROW,All part', '500, 600, 700', '102p',
       '1300,1400,1500p', '7100', '100,200,300,400,500,All part', '8900',
       '11401', '6600', '6700', '10700', '10000', '4800', '2600', '12600',
       '700,701,702', '12700', '11000, 98000', '5500', '2500',
       '2100,2200', '600,700p', '7200', '10600', '2502', '200,300,ROW',
       '1100,1300,1400,1500,1700,1800,1900,2300,2400,2500', '16900,ROW',
       '2600,2700,2800,2900,3000,3100,3200,3300,3400',
       '4400,4600,4700,4800,4900,ROW', '100p,1000p', '3600', '1200p,ROW',
       '200p,ROW', '1400,1500p,1600p,1700,ROW', '7700', '300,800,ROW',
       '108, 109, 110', '2900, 3100, 3400', '100, 200', '108', '20800',
       '1300,1400,1500', '4300p,ROW', '500p,2700p,ROW', '6402, 6401',
       '5300', '1200,1300,1400', '1303,1600p', '101, 901', '200,301',
       '2300,2400,2500', '600p,800p',
       '1400,1500,1600p,2100,2200,23000,2400,2500,ROW',
       '4000,4100p,4200,4400,4600,4700,4900p,ROW', '1800,ROW',
       '2600,2701,2800,3100,ROW', '600p,ROW', '12100',
       '2700,2800,2900,3000,3100,3200,3400', '101,901', '7600', '6900',
       '201p,300,400', '3300,3400,3601,3800,3900,4000,4100,4200,4300',
       '100,200,300,400,700,4300,4400,ROW', '4500,6400,6500,ROW',
       '2700,ROW', '1500,1600,1700,1800,2100,2200,2300,2400,2500,2600',
       '100,1100p', '6400,6500,6600,All part', '4900,8600',
       '2600,2700,ROW', '8200,8300,8400p', '3000,2901,2902,2903', '12800',
       '1300, 1400', '6400', '3800', '6100', '13400', '12004',
       '400,500,1300,1400,1401,1402,ROW', '7200,7700,7900,9100,All part',
       '300p,400p', '100,500,600,700,All part', '100,300,400,All part',
       '300,1400', '2800', '9401,9400,9300', '4400,4300,4200',
       '2000p,ROW', '12100p,ROW', '205p,210p,ROW', '6821p,6822p,ROW',
       '70000,70002,70003,70004,70005,All part', '400p,500p',
       '900,1800,1900,All part', '1000,1100,1200,ROW,All part',
       '205p,207p,206,ROW', '104p,ROW', '108,109,300,All part',
       '100p,200p,300', '6600,7300', '6300,6400',
       '300,400p,500,600,700,800,900', '1000,1100p,1200,1300p',
       '13100,13200', '3600,3800', '200p,201', '2800,2801', '500,501',
       '2501,2601', '701', 'Many', '100,900', '2300p,2400p,ROW',
       '700p,ROW', '300p,500p', '300p,500p,ROW', '100p,903p',
       '100,400,1402', '2700,2800,2900,3100,3200, ROW',
       '100,200,400,500,600,800,900,1000,2400,2500,2600',
       '3400p,3500p,ROW', '2700p,4100p,ROW',
       '100p,500p,1100,1800p,1900,ROW', '700,800,1500,ROW,All part',
       '1200,1201,2200p,ROW', '3400,3500,3600,ROW,All part', '400,ROW',
       '2800,ROW,Rails', '500,600,700', '100,200', '702p,107p,ROW',
       '500,ROW', '101p,ROW', '300,400,401', '400,500,600', '1200,1300',
       '190,300', '202,400,500,600,800,2000,2100,2200,2201,2600,2900',
       '1900,2100,2300,2700,2900,6200,6300,6400,6500',
       '4200,4300,4400,4500,4600,4700', '300,400,1100,ROW,All part',
       '1990', '100,500,600', '5600,10000', '503',
       '1300,2800, ROW,WATER,All part',
       '500,700,800,801,ROW,WATER,All part',
       '300,400,500,600,700,ROW,All part', '1100,1301,1303,ROW,All part',
       '500,1600,1700,1800,1900,2600,ROW,All part',
       '4800,4801,4802,4803,ROW,All part',
       '100,200,300,1900,2000,3400,3500,All part',
       '900,1000,1200,1300,2300,2700', '600,700,800', '604', '1502',
       '2100p', '1101', '601p', '3105', '3306,ROW', '300,400,501,ROW',
       '1900p', '1502p', '604p,ROW', '1100,1500', '1900,1700p',
       '100p,800p,801p', '1300p,1500p', '2001', '700p, 802p',
       '500,600,800,ROW,All part', '2700,2800', '602', '1202p,1300',
       '301p', '200,201', '4100p,4200p,ROW', '900p,1200p,ROW', '1700p',
       '9800', '106', '2700p,ROW',
       '1000,1100,1200,1400,1500,ROW,All part',
       '1100,1101,800,ROW,All part', 'NE Chehalem ROW, Hwy 240 ROW',
       'NE Chehalem ROW', '3900p', '1100,1000', '200p,400,500,600p',
       '107', '301,700', '801p', '1300p,1400', '106p,108p', '901p,1000p',
       '14700', '4800p,ROW', '700p,1000p,ROW',
       '1400,1801,1802,ROW,All part', '1300p,ROW', '1900p,ROW',
       '2100,2400', '601,603', '4200,4300,4400,4100p,4500p,ROW',
       '300,500,600,ROW,All part', '11102,11103,11104,All part',
       '3201p,3202', '700p,900p,ROW', '100,201,310,All part', '6803',
       '2400p', '2100p,2400p', '900,1000', '5002',
       '300,304,308,601,700,1400,ROW,All part',
       '4500,4600,5390,ROW,All part',
       '100,200,700,900,1200,1300,1400,All part',
       '1500,1600,1700,1900,90000,91000,ROW,All part',
       '102,104,2201,2200,2500,2600,ROW,All part',
       '3700,4101,4200,4300,4400,All part', '803,804,901',
       '300,304,308,ROW,All part', '1200,90600',
       '90200,90300,90400,90500,ROW,All part',
       '2300,2400,2600,2800,2900,3000',
       '3701,3801,4000,4100,4200,6500,6501,ROW,All part',
       '1000,1100,1200,1900,2200,2300,All part', '400p,502p,ROW',
       '100,1000,90000,All part', '2400,2401,2402,2404,ROW,All part',
       '1702,2101,2500,2700,3200,3400,3401,3500,All part',
       '900p,1000p,ROW', '1000,1100,1101,1800,1801,All part',
       '301,390,400,500,600,700,900,ROW,All part',
       '1902,1903,2014,6501,ROW,All part', '200,300,400,500,600',
       '2900,ROW', '2800,3300,3400,3500,3600,ROWs', '5200', '600,700'],
      dtype=object)

In [113]:
setdf = combined_reindexed_data(setID=setID, nm_to_add=nm_to_add)

In [60]:
setdf.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'DocumentName', 'DecisionLink', 'is_batch_file', 'status_name',
       'received_date', 'Coord-Source', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'recordID',
       'notes', 'lots', 'lot', 'cnt_code', 'ORTaxlot', 'recyear', 'IDyear',
       'missinglot', 'record_ID'],
      dtype='object')

In [123]:
setdf.loc[setdf.trsqq == '13S04W34', ['ORTaxlot', 'city', 'county']]

                          ORTaxlot    city county
514  2213.00S04.00W3400--000000100  Halsey   Linn
573  2213.00S04.00W3400--000000101  Halsey   Linn

In [38]:
setdf.county.unique()

array(['Crook', 'Curry', 'Hood River', 'Jefferson', 'Linn', 'Multnomah',
       'Wasco', 'Yamhill'], dtype=object)

In [33]:
setdf.tail(5)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,recordID,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID
1999,WD2022-0221,03S04W25,"600,700",8670 NE Mineral Springs Rd,Carlton,Yamhill,Flying Feather Orchards Inc,WD2022-0221 Offsite WetDet,45.282096,-123.132765,...,177,,"600, 700",700,36.0,36.003.00S04.00W2500--000000700,2022,2022,N,3929
2000,WD2022-0262,03S03W36,"100,ROW",SE Edwards Dr and SE 8th St,Dundee,Yamhill,Dundee School Site,WD2022-0262 New school,45.273976,-123.003608,...,178,ROW,"100, ROADS",100,36.0,36.003.00S03.00W3600--000000100,2022,2022,N,3930
2001,WD2022-0262,03S03W36,"100,ROW",SE Edwards Dr and SE 8th St,Dundee,Yamhill,Dundee School Site,WD2022-0262 New school,45.273976,-123.003608,...,178,ROW,"100, ROADS",ROADS,36.0,36.003.00S03.00W3600--0000ROADS,2022,2022,N,3930
2002,WD2022-0284,03S05W23,900,14900 NW Meadowlake Rd,Carlton,Yamhill,Brenda Smola-Foti ENF Site,WD2022-0284 ENF Site,45.300294,-123.264603,...,179,,900,900,36.0,36.003.00S05.00W2300--000000900,2022,2022,N,3931
2003,WD2022-0303,03S04W22CC,1200,S 3rd St,Carlton,Yamhill,JR Meadows 3,WD2022-0303 Residential subdivision,45.289073,-123.172854,...,180,,1200,1200,36.0,36.003.00S04.00W22CC--000001200,2022,2022,N,3932

In [114]:
# this might take a while (2 minutes)
start = time.time()
# export = False
setgdf = match_wd_data_with_taxlot(df=setdf, setID=setID, all_taxlot=all_taxlot, export=True)
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 1.0 minutes to complete

In [124]:
'2213.00S04.00W3400--000000100' in all_taxlot.ORTaxlot.values

True

In [126]:
'2213.00S04.00W3400--000000100' in setgdf.ORTaxlot.values

True

In [125]:
setgdf.columns

Index(['wdID', 'trsqq', 'parcel_id', 'loc_desc', 'city', 'county', 'site_name',
       'site_desc', 'latitude', 'longitude', 'doc_name', 'doc_link',
       'isbatfile', 'status_nm', 'receiveddt', 'coord_src', 'responsedt',
       'reissuance', 'project_id', 'site_id', 'recordID', 'notes', 'lots',
       'lot', 'cnt_code', 'ORTaxlot', 'recyear', 'IDyear', 'missinglot',
       'record_ID', 'geometry'],
      dtype='object')

In [115]:
setgdf.shape

(1959, 31)

In [10]:
setgdf.tail(3)

,wdID,trsqq,parcel_id,loc_desc,city,county,site_name,site_desc,latitude,longitude,...,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID,geometry
1495,WD2022-0054,02N13E32AD,"1200,1300",2505 W 7th St,The Dalles,Wasco,Mid Columbia Community Action Coalition,WD2022-0054 Offsite,45.614359,-121.212464,...,,"1200, 1300",1200,33.0,3302.00N13.00E32AD--000001200,2022,2022,N,3750,"MULTIPOLYGON (((1130209.661 1409792.398, 11303..."
1496,WD2022-0054,02N13E32AD,"1200,1300",2505 W 7th St,The Dalles,Wasco,Mid Columbia Community Action Coalition,WD2022-0054 Offsite,45.614359,-121.212464,...,,"1200, 1300",1300,33.0,3302.00N13.00E32AD--000001300,2022,2022,N,3750,"MULTIPOLYGON (((1130114.371 1409554.741, 11301..."
1497,WD2022-0217,02N13E33A,100,between 2649 and 2925 River Rd,The Dalles,Wasco,Jeannette Kreft potential purchase,WD2022-0217 offsite wetdet,45.619238,-121.198721,...,,100,100,33.0,3302.00N13.00E33A0--000000100,2022,2022,N,3752,"MULTIPOLYGON (((1133709.217 1411667.613, 11337..."

In [116]:
unmatched_df = report_unmatched(gdf=setgdf, setID=setID, nm_to_add=nm_to_add, mute = False, export=True)

it is about 7.59% of data in the original 1054 records unmatched
there are 2 records (0.19% of the original records) without parcel id

In [62]:
unmatched_df.county.unique()

array(['Yamhill and Washington', 'Yamhill', 'Multnomah', 'Jefferson',
       'Hood River', 'Linn', 'Crook'], dtype=object)

In [127]:
unmatched_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'DocumentName', 'DecisionLink', 'is_batch_file', 'status_name',
       'received_date', 'Coord-Source', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [142]:
review_wd_record_w_coord(wd_id='WD2018-0462', 
                         county_to_check='Multnomah', 
                         trsqq_to_check='01N01W33DB', 
                         parcel_IDs_to_check='3400', 
                         lon=-122.813981, 
                         lat=45.525746, 
                         taxlot=all_taxlot, 
                         year=2018)

reviewing WD2018-0462
trsqq matched, checking county code...
corrected county...

('county', 'from Multnomah to Washington')

In [131]:
testdf = setdf[setdf.wetdet_delin_number == 'WD2020-0149']

In [136]:
all_taxlot[all_taxlot.ORTaxlot=='2213.00S04.00W3400--000000100']

,year,ORTaxlot,geometry
926145,2016,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618120.778 977466.910, 618212...."
2630481,2017,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618122.656 977464.832, 618214...."
4113502,2018,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618120.778 977466.910, 618212...."
5648882,2019,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618120.778 977466.910, 618212...."
7153165,2020,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618120.778 977466.910, 618212...."
8663354,2021,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((617830.108 974685.776, 617829...."
10177938,2022,2213.00S04.00W3400--000000100,"MULTIPOLYGON (((618120.778 977466.910, 618212...."

In [134]:
testdf[['wetdet_delin_number', 'trsqq', 'parcel_id', 'city', 'county', 'ORTaxlot']].merge(all_taxlot, on='ORTaxlot', how='left')

,wetdet_delin_number,trsqq,parcel_id,city,county,ORTaxlot,year,geometry
0,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2016,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
1,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2017,"MULTIPOLYGON (((620841.324 973638.620, 620868...."
2,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2018,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
3,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2019,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
4,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2020,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
5,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2021,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
6,WD2020-0149,14S04W03,101p,Halsey,Linn,2214.00S04.00W0300--000000101,2022,"MULTIPOLYGON (((620839.449 973640.664, 620866...."
7,WD2020-0149,13S04W34,101p,Halsey,Linn,2213.00S04.00W3400--000000101,NaN,None

In [129]:
setgdf[setgdf.wdID == 'WD2020-0149']

,wdID,trsqq,parcel_id,loc_desc,city,county,site_name,site_desc,latitude,longitude,...,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID,geometry
544,WD2020-0149,14S04W03,101p,30480 American Dr,Halsey,Linn,Effluent Treatment Plant Performance Restoration,WD2020-0149,44.390773,-123.155639,...,Partial,101,101,22,2214.00S04.00W0300--000000101,2020,2020,N,3224,"MULTIPOLYGON (((620839.449 973640.664, 620866...."

In [128]:
unmatched_df[unmatched_df.wetdet_delin_number == 'WD2020-0149']

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,Coord-Source,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
346,WD2020-0149,13S04W34,101p,30480 American Dr,Halsey,Linn,Effluent Treatment Plant Performance Restoration,WD2020-0149,44.390773,-123.155639,...,DSL Verified,2020-06-24,NaN,79622.0,142141,3225,Partial,2020,2020,N

In [118]:
r1_df, r2_df = split_unmatched_df(unmatched_df, ml='N', setID=setID)

In [63]:
r2_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'DocumentName', 'DecisionLink', 'is_batch_file', 'status_name',
       'received_date', 'Coord-Source', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [119]:
r2_df.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,Coord-Source,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
932,WD2019-0156,04S04W15CA,3100,3101 Orchard St or 1730-1761 NE Miller St,McMinnville,Yamhill,Orchard Industrial Certification,WD2019-0156,45.222934,-123.165247,...,Applicant Data,2019-04-10,NaN,77872.0,128188,3811,,2019,2019,N
620,WD2019-0039,01S03E07,7100,"3800 SE 164th Ave, Portland",Portland,Multnomah,01S03E07,Housing,45.494644,-122.494745,...,DSL Verified,2019-01-30,NaN,77582.0,127663,3499,,2019,2019,N
346,WD2020-0149,13S04W34,101p,30480 American Dr,Halsey,Linn,Effluent Treatment Plant Performance Restoration,WD2020-0149,44.390773,-123.155639,...,DSL Verified,2020-06-24,NaN,79622.0,142141,3225,Partial,2020,2020,N

In [52]:
r2_df[r2_df.wetdet_delin_number =='WD2020-0348']

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,Coord-Source,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
975,WD2020-0348,03S05W18,"300,400,500,All part",Accessible via gravel drive from the City of C...,Carlton,Yamhill,Carlton Reservoir Dredging Plan,WD2020-0348 Public water supply (PWS) reservoir,45.304685,-123.351673,...,DSL Verified,2020-10-12,NaN,80137.0,133195,3854,Partial,2020,2020,N

In [143]:
rev_r2 = review_unmatched_df_r2(df=r2_df, taxlot=all_taxlot, setID=setID, ml='N', export=True)

reviewing WD2019-0156
all lots are matched...
corrected trsqq...
reviewing WD2019-0039
all lots are matched...
corrected trsqq...
reviewing WD2020-0149
all lots are matched...
corrected trsqq...
reviewing WD2018-0462
trsqq matched, checking county code...
corrected county...
reviewing WD2020-0635
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2022-0036
all lots are matched...
corrected trsqq...
reviewing WD2017-0266
all lots are matched...
corrected trsqq...
reviewing WD2021-0031
all lots are matched...
corrected trsqq...
reviewing WD2018-0321
there is not any matched lot, need to review trsqq, the close-match is 01N03E23
lots to check: ['1600'], and lots to compare: ['103', '104', '105', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '200', '300', '404', '406', '407', '408', '700', '800', '900', '1000', '1100', '1200', '1300', '0000NONTL']
reviewing WD2019-0167
all lots are matched...
corrected trsqq...
reviewing WD2017-0486
trsqq matched, checking county code...
corrected county...
reviewing WD2017-0057
trsqq matched, checking county code...
corrected county...
reviewing WD2020-0568
all lots are matched...
corrected trsqq...
reviewing WD2018-0343
trsqq matched, checking county code...
corrected county...
reviewing WD2019-0239
trsqq matched, checking county code...
corrected county...
reviewing WD2020-0551
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2021-0102
trsqq matched, checking county code...
corrected county...

In [121]:
taxlots_to_review = get_taxlot_to_check_r2(revdf=rev_r2, taxlot=all_taxlot, setID=setID, ml='N')

In [20]:
# need to review the notes
cor_r1 = correct_unmatched(r1_df, setID, s='r1', ml='N', export=True)

In [21]:
cor_r2 = correct_unmatched(r2_df, setID, s='r2', ml='N', export=True)

In [22]:
r2_df.trsqq.values

array(['33S07E03', '05N01W34CD', '33S07E03', '7S11W22CD', '05N02W27',
       '07N02W17CC', '03S10W18', '24S09E00', '33S07E00', '06S11W35C'],
      dtype=object)

In [23]:
cor_r2.trsqq.values

array(['07N02W08CC', '24S09E30CD', '06S11W35CB'], dtype=object)

In [24]:
cor_r2_2 = update_unmatched_df_r2(r2_df, setID, ml='N', export=True)

In [25]:
# make sure the notes are updated
df = combine_corrected_unmatched(setID, ml='N')

In [26]:
len(df.record_ID.unique())

50

In [27]:
df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [28]:
rev_df = reindex_data(df)

In [29]:
adj_df = adjust_taxlot_df(rev_df[rev_df.wetdet_delin_number == 'WD2022-0136'])

In [30]:
rev_df = adj_df.append(rev_df[rev_df.wetdet_delin_number != 'WD2022-0136'], ignore_index=True)

In [31]:
rev_df.shape

(178, 29)

In [32]:
# make sure the matched data before update is correct
matched = match_wd_data_with_taxlot(rev_df, setID, all_taxlot, export=True, update=True)

In [33]:
matched.columns

Index(['wdID', 'trsqq', 'parcel_id', 'notes', 'lots', 'lot', 'ORTaxlot',
       'record_ID', 'geometry'],
      dtype='object')

In [34]:
missedID = [rID for rID in df.record_ID.values if rID not in matched.record_ID.values]

In [35]:
sorted(missedID)

[2437, 2450, 2454]

In [36]:
outpath = r'L:\NaturalResources\Wetlands\Local Wetland Inventory\WAPO\EPA_2022_Tasks\Task 1 WD Mapping\output'

In [37]:
matched = gpd.read_file(outpath + '\\matched\\matched_records_Set003.shp')

In [38]:
matched.columns

Index(['wdID', 'trsqq', 'parcel_id', 'notes', 'lots', 'lot', 'ORTaxlot',
       'record_ID', 'geometry'],
      dtype='object')

In [39]:
matched_toReview = matched[matched.notes.notnull()]

In [40]:
len(matched_toReview.wdID.unique())

127

In [41]:
wd_toReview = wd[wd.wetdet_delin_number.isin(matched_toReview.wdID.unique())]

In [42]:
wd_toReview.to_csv(outpath + '\\to_review\\partial_matched_Set003.csv', index=False)

In [43]:
unmatched_df = report_unmatched(gdf=matched, setID=setID, nm_to_add=nm_to_add, mute = False)

it is about 5.03% of data in the original 735 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [44]:
unmatched_df.shape

(37, 25)

In [45]:
unmatched_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [46]:
unmatched_df[unmatched_df.record_ID == 2803]

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
659,WD2021-0181,03N10W32A,54069,"Pelican Ln Lot 13, Lot is on the corner of Pel...",Manzanita,Tillamook,Shawn Overstreet,WD2021-0181 Offsite,NaN,NaN,...,2021-04-05,2021-06-14,NaN,81746.0,135726,2803,,2021,2021,N

In [47]:
[rID for rID in unmatched_df.loc[unmatched_df.missinglot=='N', 'record_ID'].values if rID not in missedID]

[2803]

In [48]:
missed_r1_ID = [rID for rID in missedID if rID in r1_df.record_ID.values]

In [49]:
missed_r1_ID

[2437, 2450, 2454]

In [50]:
rev_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'lots', 'lot', 'cnt_code',
       'ORTaxlot'],
      dtype='object')

In [51]:
r1_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [52]:
r1_df.loc[r1_df.record_ID.isin(missed_r1_ID), ['record_ID','trsqq', 'parcel_id','county', 'wetdet_delin_number']]

     record_ID      trsqq    parcel_id   county wetdet_delin_number
293       2437   39S09W14         200p  Klamath         WD2019-0121
306       2450  39S09W08D  1500p,1600p  Klamath         WD2019-0121
310       2454  39S09W08C        1300p  Klamath         WD2019-0121

In [53]:
cor_r1.loc[cor_r1.record_ID.isin(missed_r1_ID), ['record_ID','trsqq', 'parcel_id','county', 'wetdet_delin_number']]

     record_ID       trsqq    parcel_id   county wetdet_delin_number
293       2437  39S09E1400         200p  Klamath         WD2019-0121
306       2450  39S09E08D0  1500p,1600p  Klamath         WD2019-0121
310       2454  39S09E08C0        1300p  Klamath         WD2019-0121

In [54]:
rev_df.loc[rev_df.record_ID.isin(missed_r1_ID), ['record_ID','ORTaxlot', 'trsqq', 'parcel_id','county', 'wetdet_delin_number']]

,record_ID,ORTaxlot,trsqq,parcel_id,county,wetdet_delin_number
25,2437,1839.00S09.00E1400--000000200,39S09E1400,200p,Klamath,WD2019-0121
80,2450,1839.00S09.00E08D0--000001500,39S09E08D0,"1500p,1600p",Klamath,WD2019-0121
81,2450,1839.00S09.00E08D0--000001600,39S09E08D0,"1500p,1600p",Klamath,WD2019-0121
88,2454,1839.00S09.00E08C0--000001300,39S09E08C0,1300p,Klamath,WD2019-0121

In [55]:
missed_r2_ID = [rID for rID in missedID if rID in r2_df.record_ID.values]

In [56]:
missed_r2_ID

[]

In [57]:
rev_r2.record_ID.values

array([2525, 2155, 2537, 2642, 2159, 2162, 2777, 2392, 2467, 2660])

In [59]:
unmatched_df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_2.csv'), index=False)

In [60]:
testdf = unmatched_df[unmatched_df.missinglot=='Y']

In [61]:
testdf.shape

(33, 25)

In [62]:
row_txid = [txid for txid in all_txid if 'ROADS' in txid]

In [63]:
water_txid = [txid for txid in all_txid if 'WATER' in txid]

In [64]:
rail_txid = [txid for txid in all_txid if 'RAILS' in txid]

In [65]:
testdf.notes.unique()

array(['ROW', 'Rail', 'Many', 'ROW, Rail'], dtype=object)

In [66]:
r1_t, r2_t = split_unmatched_df(unmatched_df, ml='Y', setID=setID)

In [67]:
rev_r2_y = review_unmatched_df_r2(df=r2_t, taxlot=all_taxlot, setID=setID, ml='Y', export=True)

reviewing WD2017-0136
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2021-0624
there is not any matched lot, need to review trsqq, the close-match is 01S09W30
lots to check: ['RAILS'], and lots to compare: ['100', '101', '102', '103', '104', '105', '200', '201', '300', '400', '500', '600', '701', '900', '1000', '1001', '1100']
reviewing WD2020-0526
there is not any matched lot, need to review trsqq, the close-match is 02N10W
lots to check: ['ROADS'], and lots to compare: ['100', '200', '600', '1100', '1200', '1900', '2000', '2200', '2280', '2290', '2500', '2700', '2800', '3200', '3300', '3400', '3700', '3800', '3900', '4000', '4400', '4500', '4800', '4900', '5000', '5100', '5201', '5203', '5600', '5700', '5800', '5900', '6000', '6001', '6100', '6101', '99980']
reviewing WD2017-0124
coordinate might be incorrect, nearby taxlot is 1838.00S11.50E3100--000001000, about 26 ft away
reviewing WD2017-0375
there is not any matched lot, need to review trsqq, the close-match is 05S11W25
lots to check: ['ROADS'], and lots to compare: ['400', '490', '500', '800', '804', '805', '808', '809', '812', '900', '1000', '1200', '1201', '1202', '1300', '99980']
reviewing WD2018-0196
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2020-0009
coordinate might be incorrect, nearby taxlot is 0504.00N01.00W03CB--000001900, about 39 ft away
reviewing WD2018-0281
there is not any matched lot, need to review trsqq, the close-match is 41S12E11
lots to check: [], and lots to compare: ['200', '300', '400', '500', '600', '700', '701', '800', '900', '1000', '1100', '1200', '1300', '1301', '1400', '1500', '1600', '1700']
reviewing WD2020-0120
some lots are not matched, need to review trsqq, the close-match is 08N04W15
lots to check: ['ROADS', 'RAILS'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '100', '200', '300', '301', 'ROADS']

In [68]:
rev_r2_y.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'county', 'latitude',
       'longitude', 'DecisionLink', 'record_ID', 'IDyear', 'correct_type',
       'correction', 'cor_trsqq', 'ORTaxlot'],
      dtype='object')

In [69]:
testdf = rev_r2_y.copy()

In [70]:
taxlot_to_check = get_taxlot_to_check_r2(revdf=testdf, taxlot=all_taxlot, setID=setID, ml='Y')

In [71]:
taxlot_to_check.columns

Index(['year', 'ORTaxlot', 'geometry', 'wdID', 'trsqq', 'parcel_id', 'county',
       'latitude', 'longitude', 'doc_link', 'record_ID', 'IDyear', 'cor_type',
       'correction', 'cor_trsqq'],
      dtype='object')

In [72]:
len(rev_r2_y.ORTaxlot.values)

9

In [73]:
matchedTxlotIDs = [txlot for txlot in rev_r2_y.ORTaxlot.values if txlot in matched.ORTaxlot.values]

In [74]:
rev_r2_y.loc[rev_r2_y.ORTaxlot.isin(matchedTxlotIDs), 'record_ID'].values

array([2836, 2792, 2710, 2250])

In [75]:
[txlot for txlot in rev_r2_y.ORTaxlot.values if txlot not in matched.ORTaxlot.values]

['2903.00N10.00W3500--000099980',
 '1838.00S11.50E3100--000001000',
 '1839.00S09.00E1600--000001100',
 '0504.00N01.00W03CB--000001900',
 '1841.00S12.00E1100--000000400']