In [1]:
from wdtools import *

In [2]:
# this can take about 7 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 8.0 minutes to complete

In [3]:
all_taxlot.shape

(9043030, 3)

In [4]:
all_taxlot.head(3)

,year,ORTaxlot,geometry
0,2017,,"MULTIPOLYGON (((762282.329 1368122.698, 762282..."
1,2017,0 .00.000000--0000,"MULTIPOLYGON (((486021.516 1375588.457, 485872..."
2,2017,0 .00.000000--000000000,"MULTIPOLYGON (((458567.232 1386372.520, 458625..."

In [4]:
setID = 'Set003'

In [5]:
nm_to_add = 2143

In [6]:
df = combined_reindexed_data(setID=setID, nm_to_add=nm_to_add)

In [8]:
df.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,recordID,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID
0,WD2017-0028,04N01W09BB,100,"E of Hwy 30, N of Gable Rd",St Helens,Columbia,Gable Rd 04N01W09BB,NaN,45.84792,-122.823410,...,1,,100,100,5,0504.00N01.00W09BB--000000100,2017,2017,N,2144
1,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.75837,-122.882498,...,2,,"1000, 1100, 1300",1000,5,0503.00N02.00W12BD--000001000,2017,2017,N,2145
2,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.75837,-122.882498,...,2,,"1000, 1100, 1300",1100,5,0503.00N02.00W12BD--000001100,2017,2017,N,2145

In [7]:
# export = False
gdf = match_wd_data_with_taxlot(df=df, setID=setID, all_taxlot=all_taxlot, nm_to_add=nm_to_add, export=False)

In [10]:
gdf.tail(3)

,wdID,trsqq,parcel_id,loc_desc,city,county,site_name,site_desc,latitude,longitude,...,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID,geometry
1420,WD2022-0282,02N10W32CC,15400,"E of Anchor, W of Beacon, S of 2nd",Rockaway Beach,Tillamook,Anchor St Parking,WD2022-0282 delin,45.610690,-123.943200,...,,15400,15400,29,2902.00N10.00W32CC--000015400,2022,2022,N,2874,"MULTIPOLYGON (((431371.981 1425925.868, 431396..."
1421,WD2022-0283,02N10W32CC,19000,S 2nd and Coral St,Rockaway Beach,Tillamook,King new home site,WD2022-0283 offsite wetdet,45.611295,-123.941950,...,,19000,19000,29,2902.00N10.00W32CC--000019000,2022,2022,N,2875,"MULTIPOLYGON (((431751.006 1426009.481, 431749..."
1422,WD2022-0296,03N10W29DA,2600,698 Dorcas Ln,Manzanita,Tillamook,Vito Cerelli,WD2022-0296 Offsite WetDet,45.717572,-123.929596,...,,2600,2600,29,2903.00N10.00W29DA--000002600,2022,2022,N,2877,"MULTIPOLYGON (((436509.445 1464585.791, 436447..."

In [8]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [12]:
wd.shape

(735, 25)

In [13]:
wd.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
0,WD2017-0028,04N01W09BB,100,"E of Hwy 30, N of Gable Rd",St Helens,Columbia,Gable Rd 04N01W09BB,NaN,45.847920,-122.823410,...,2017-01-20,2017-03-01,NaN,NaN,104151,2144,,2017,2017,N
1,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.758370,-122.882498,...,2017-02-01,2017-02-22,NaN,NaN,104260,2145,,2017,2017,N
2,WD2017-0076,04N01W05CD,2102,"2480 Gable Rd, St Helens",St Helens,Columbia,04N01W05CD,NaN,45.851632,-122.836404,...,2017-02-24,2017-03-02,NaN,NaN,104533,2146,,2017,2017,N

In [14]:
wd.county.unique()

array(['Columbia', 'Grant', 'Klamath', 'Lincoln', 'Tillamook',
       'TIllamook'], dtype=object)

In [15]:
wd.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [12]:
unmatched_df = report_unmatched(gdf=gdf, setID=setID, nm_to_add=nm_to_add, mute = False)

it is about 12.38% of data in the original 735 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [13]:
r1_df, r2_df = split_unmatched_df(unmatched_df)

In [106]:
outdf = update_unmatched_df_r2(r2_df, setID, export=True)

In [111]:
df = combine_corrected_unmatched(setID)

In [112]:
df.shape

(50, 25)

In [115]:
df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [114]:
df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'review_unmatched_{setID}.csv'), index=False)

In [129]:
outdf = review_unmatched_df_r2(df=r2_df, taxlot=all_taxlot, setID=setID, export=True)

reviewing WD2019-0512
all lots are matched...
corrected trsqq...
reviewing WD2022-0018
all lots are matched...
corrected trsqq...
reviewing WD2017-0177
all lots are matched...
corrected trsqq...
reviewing WD2017-0214
all lots are matched...
corrected trsqq...
reviewing WD2020-0261
all lots are matched...
corrected trsqq...
reviewing WD2017-0267
all lots are matched...
corrected trsqq...
reviewing WD2021-0192
there is not any matched lot, need to review trsqq, the close-match is 06S11W34AD
lots to check: ['106'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300', '1400', '1500', '1600', '1700', '1800', '1900', '2000', '2100', '2200', '2300', '2400', '2500', '2600', '2700', '2800', '2900', '3000', '3100', '3200', '3300', '3400', '3500', '3700', '3800', '3900', '4000', '4100', '4200', '4300', '4400', '4401', '4500', '4600', '4700', '4800', '4900', '5000', '5100', '5200', '5300', '5400', '5500', '5501', 'ROW', 'ROW']
reviewing WD2020-0265
all lots are matched...
corrected trsqq...
reviewing WD2021-0269
all lots are matched...
corrected trsqq...
reviewing WD2018-0242
there is not any matched lot, need to review trsqq, the close-match is 24S09E30CD
lots to check: ['201'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300', '1400', '1401', '1600', '1601', '1602', '1700', '1800', '1900', '2000', '2100', '2200', '2300', '2301', '2302', '2400', '2500', '2700', '2800', '2900', '3000', '3100', '3200', '3300', '3400', '3500', '3600', '3700', '3800', '3900', '4000', '4100', '4200']

C:\Users\clid1852\AppData\Anaconda3\envs\geoenv\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\clid1852\AppData\Anaconda3\envs\geoenv\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\clid1852\AppData\Anaconda3\envs\geoenv\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\clid1852\AppData\Anaconda3\envs\geoenv\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [107]:
unmatched_df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}.csv'), index=False)

In [17]:
unmatched_trsqq = unmatched_df.trsqq.unique()

In [125]:
rev_df = reindex_data(df)

In [133]:
matched = match_wd_data_with_taxlot(rev_df, setID, all_taxlot, export=True, update=True)