In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [3]:
# this can take about 9 - 11 minutes
start = time.time()
all_taxlot = combine_taxlot()
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 9.0 minutes to complete

In [4]:
all_taxlot.shape

(10726424, 3)

In [5]:
all_taxlot.head(3)

,year,ORTaxlot,geometry
0,2016,,"MULTIPOLYGON (((647614.242 1382867.700, 647613..."
1,2016,0 .00.000000--0000,"MULTIPOLYGON (((486021.517 1375588.457, 485872..."
2,2016,0 .00.000000--000000000,"MULTIPOLYGON (((485310.155 1359830.882, 485282..."

In [4]:
setID = 'Set003'; nm_to_add = 2143

In [7]:
setdf = combined_reindexed_data(setID=setID, nm_to_add=nm_to_add)

In [8]:
# this might take a while (2 minutes)
start = time.time()
# export = False
setgdf = match_wd_data_with_taxlot(df=setdf, setID=setID, all_taxlot=all_taxlot, export=True)
end = time.time()
print(f'it took {round((end - start)/60, 0)} minutes to complete')

it took 1.0 minutes to complete

In [9]:
setgdf.shape

(1454, 31)

In [10]:
setgdf.tail(3)

,wdID,trsqq,parcel_id,loc_desc,city,county,site_name,site_desc,latitude,longitude,...,notes,lots,lot,cnt_code,ORTaxlot,recyear,IDyear,missinglot,record_ID,geometry
1451,WD2022-0282,02N10W32CC,15400,"E of Anchor, W of Beacon, S of 2nd",Rockaway Beach,Tillamook,Anchor St Parking,WD2022-0282 delin,45.610690,-123.943200,...,,15400,15400,29,2902.00N10.00W32CC--000015400,2022,2022,N,2874,"MULTIPOLYGON (((431371.981 1425925.868, 431396..."
1452,WD2022-0283,02N10W32CC,19000,S 2nd and Coral St,Rockaway Beach,Tillamook,King new home site,WD2022-0283 offsite wetdet,45.611295,-123.941950,...,,19000,19000,29,2902.00N10.00W32CC--000019000,2022,2022,N,2875,"MULTIPOLYGON (((431751.006 1426009.481, 431749..."
1453,WD2022-0296,03N10W29DA,2600,698 Dorcas Ln,Manzanita,Tillamook,Vito Cerelli,WD2022-0296 Offsite WetDet,45.717572,-123.929596,...,,2600,2600,29,2903.00N10.00W29DA--000002600,2022,2022,N,2877,"MULTIPOLYGON (((436509.445 1464585.791, 436447..."

In [5]:
wd = combine_wd_tables(setID=setID, nm_to_add=nm_to_add)

In [7]:
wd.record_ID.tail(1)

734    2878
Name: record_ID, dtype: int32

In [8]:
nm_to_add + wd.shape[0]

2878

In [12]:
wd.shape

(735, 25)

In [13]:
wd.head(3)

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
0,WD2017-0028,04N01W09BB,100,"E of Hwy 30, N of Gable Rd",St Helens,Columbia,Gable Rd 04N01W09BB,NaN,45.847920,-122.823410,...,2017-01-20,2017-03-01,NaN,NaN,104151,2144,,2017,2017,N
1,WD2017-0038,03N02W12BD,"1000,1100,1300",NaN,Scappoose,Columbia,Seely Ln Park Proj 03N02W12BD,Seely Lane Park Project (grant),45.758370,-122.882498,...,2017-02-01,2017-02-22,NaN,NaN,104260,2145,,2017,2017,N
2,WD2017-0076,04N01W05CD,2102,"2480 Gable Rd, St Helens",St Helens,Columbia,04N01W05CD,NaN,45.851632,-122.836404,...,2017-02-24,2017-03-02,NaN,NaN,104533,2146,,2017,2017,N

In [14]:
wd.county.unique()

array(['Columbia', 'Grant', 'Klamath', 'Lincoln', 'Tillamook',
       'TIllamook'], dtype=object)

In [15]:
wd.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [16]:
unmatched_df = report_unmatched(gdf=setgdf, setID=setID, nm_to_add=nm_to_add, mute = False)

it is about 11.43% of data in the original 735 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [17]:
unmatched_df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}.csv'), index=False)

In [18]:
r1_df, r2_df = split_unmatched_df(unmatched_df, ml='N', setID=setID)

In [19]:
rev_r2 = review_unmatched_df_r2(df=r2_df, taxlot=all_taxlot, setID=setID, ml='N', export=True)

reviewing WD2021-0269
all lots are matched...
corrected trsqq...
reviewing WD2017-0177
all lots are matched...
corrected trsqq...
reviewing WD2022-0018
all lots are matched...
corrected trsqq...
reviewing WD2020-0261
all lots are matched...
corrected trsqq...
reviewing WD2017-0214
all lots are matched...
corrected trsqq...
reviewing WD2017-0267
all lots are matched...
corrected trsqq...
reviewing WD2020-0265
all lots are matched...
corrected trsqq...
reviewing WD2018-0242
there is not any matched lot, need to review trsqq, the close-match is 24S09E30CD
lots to check: ['201'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300', '1400', '1401', '1600', '1601', '1602', '1700', '1800', '1900', '2000', '2100', '2200', '2300', '2301', '2302', '2400', '2500', '2700', '2800', '2900', '3000', '3100', '3200', '3300', '3400', '3500', '3600', '3700', '3800', '3900', '4000', '4100', '4200']
reviewing WD2019-0512
all lots are matched...
corrected trsqq...
reviewing WD2021-0192
there is not any matched lot, need to review trsqq, the close-match is 06S11W34AD
lots to check: ['106'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300', '1400', '1500', '1600', '1700', '1800', '1900', '2000', '2100', '2200', '2300', '2400', '2500', '2600', '2700', '2800', '2900', '3000', '3100', '3200', '3300', '3400', '3500', '3700', '3800', '3900', '4000', '4100', '4200', '4300', '4400', '4401', '4500', '4600', '4700', '4800', '4900', '5000', '5100', '5200', '5300', '5400', '5500', '5501', 'ROADS', 'ROADS']

In [20]:
# need to review the notes
cor_r1 = correct_unmatched(r1_df, setID, s='r1', ml='N', export=True)

In [21]:
cor_r2 = correct_unmatched(r2_df, setID, s='r2', ml='N', export=True)

In [22]:
r2_df.trsqq.values

array(['33S07E03', '05N01W34CD', '33S07E03', '7S11W22CD', '05N02W27',
       '07N02W17CC', '03S10W18', '24S09E00', '33S07E00', '06S11W35C'],
      dtype=object)

In [23]:
cor_r2.trsqq.values

array(['07N02W08CC', '24S09E30CD', '06S11W35CB'], dtype=object)

In [24]:
cor_r2_2 = update_unmatched_df_r2(r2_df, setID, ml='N', export=True)

In [25]:
# make sure the notes are updated
df = combine_corrected_unmatched(setID, ml='N')

In [26]:
len(df.record_ID.unique())

50

In [27]:
df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [28]:
rev_df = reindex_data(df)

In [29]:
adj_df = adjust_taxlot_df(rev_df[rev_df.wetdet_delin_number == 'WD2022-0136'])

In [30]:
rev_df = adj_df.append(rev_df[rev_df.wetdet_delin_number != 'WD2022-0136'], ignore_index=True)

In [31]:
rev_df.shape

(178, 29)

In [32]:
# make sure the matched data before update is correct
matched = match_wd_data_with_taxlot(rev_df, setID, all_taxlot, export=True, update=True)

In [33]:
matched.columns

Index(['wdID', 'trsqq', 'parcel_id', 'notes', 'lots', 'lot', 'ORTaxlot',
       'record_ID', 'geometry'],
      dtype='object')

In [34]:
missedID = [rID for rID in df.record_ID.values if rID not in matched.record_ID.values]

In [35]:
sorted(missedID)

[2437, 2450, 2454]

In [36]:
outpath = r'L:\NaturalResources\Wetlands\Local Wetland Inventory\WAPO\EPA_2022_Tasks\Task 1 WD Mapping\output'

In [37]:
matched = gpd.read_file(outpath + '\\matched\\matched_records_Set003.shp')

In [38]:
matched.columns

Index(['wdID', 'trsqq', 'parcel_id', 'notes', 'lots', 'lot', 'ORTaxlot',
       'record_ID', 'geometry'],
      dtype='object')

In [39]:
matched_toReview = matched[matched.notes.notnull()]

In [40]:
len(matched_toReview.wdID.unique())

127

In [41]:
wd_toReview = wd[wd.wetdet_delin_number.isin(matched_toReview.wdID.unique())]

In [42]:
wd_toReview.to_csv(outpath + '\\to_review\\partial_matched_Set003.csv', index=False)

In [43]:
unmatched_df = report_unmatched(gdf=matched, setID=setID, nm_to_add=nm_to_add, mute = False)

it is about 5.03% of data in the original 735 records unmatched
there are 0 records (0.0% of the original records) without parcel id

In [44]:
unmatched_df.shape

(37, 25)

In [45]:
unmatched_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [46]:
unmatched_df[unmatched_df.record_ID == 2803]

,wetdet_delin_number,trsqq,parcel_id,address_location_desc,city,county,site_name,site_desc,latitude,longitude,...,received_date,response_date,reissuance_response_date,project_id,site_id,record_ID,notes,recyear,IDyear,missinglot
659,WD2021-0181,03N10W32A,54069,"Pelican Ln Lot 13, Lot is on the corner of Pel...",Manzanita,Tillamook,Shawn Overstreet,WD2021-0181 Offsite,NaN,NaN,...,2021-04-05,2021-06-14,NaN,81746.0,135726,2803,,2021,2021,N

In [47]:
[rID for rID in unmatched_df.loc[unmatched_df.missinglot=='N', 'record_ID'].values if rID not in missedID]

[2803]

In [48]:
missed_r1_ID = [rID for rID in missedID if rID in r1_df.record_ID.values]

In [49]:
missed_r1_ID

[2437, 2450, 2454]

In [50]:
rev_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot', 'lots', 'lot', 'cnt_code',
       'ORTaxlot'],
      dtype='object')

In [51]:
r1_df.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'address_location_desc',
       'city', 'county', 'site_name', 'site_desc', 'latitude', 'longitude',
       'Coord-Source', 'DocumentName', 'DecisionLink', 'is_batch_file',
       'status_name', 'received_date', 'response_date',
       'reissuance_response_date', 'project_id', 'site_id', 'record_ID',
       'notes', 'recyear', 'IDyear', 'missinglot'],
      dtype='object')

In [52]:
r1_df.loc[r1_df.record_ID.isin(missed_r1_ID), ['record_ID','trsqq', 'parcel_id','county', 'wetdet_delin_number']]

     record_ID      trsqq    parcel_id   county wetdet_delin_number
293       2437   39S09W14         200p  Klamath         WD2019-0121
306       2450  39S09W08D  1500p,1600p  Klamath         WD2019-0121
310       2454  39S09W08C        1300p  Klamath         WD2019-0121

In [53]:
cor_r1.loc[cor_r1.record_ID.isin(missed_r1_ID), ['record_ID','trsqq', 'parcel_id','county', 'wetdet_delin_number']]

     record_ID       trsqq    parcel_id   county wetdet_delin_number
293       2437  39S09E1400         200p  Klamath         WD2019-0121
306       2450  39S09E08D0  1500p,1600p  Klamath         WD2019-0121
310       2454  39S09E08C0        1300p  Klamath         WD2019-0121

In [54]:
rev_df.loc[rev_df.record_ID.isin(missed_r1_ID), ['record_ID','ORTaxlot', 'trsqq', 'parcel_id','county', 'wetdet_delin_number']]

,record_ID,ORTaxlot,trsqq,parcel_id,county,wetdet_delin_number
25,2437,1839.00S09.00E1400--000000200,39S09E1400,200p,Klamath,WD2019-0121
80,2450,1839.00S09.00E08D0--000001500,39S09E08D0,"1500p,1600p",Klamath,WD2019-0121
81,2450,1839.00S09.00E08D0--000001600,39S09E08D0,"1500p,1600p",Klamath,WD2019-0121
88,2454,1839.00S09.00E08C0--000001300,39S09E08C0,1300p,Klamath,WD2019-0121

In [55]:
missed_r2_ID = [rID for rID in missedID if rID in r2_df.record_ID.values]

In [56]:
missed_r2_ID

[]

In [57]:
rev_r2.record_ID.values

array([2525, 2155, 2537, 2642, 2159, 2162, 2777, 2392, 2467, 2660])

In [59]:
unmatched_df.to_csv(os.path.join(inpath + '\\output\\to_review\\', f'unmatched_df_{setID}_2.csv'), index=False)

In [60]:
testdf = unmatched_df[unmatched_df.missinglot=='Y']

In [61]:
testdf.shape

(33, 25)

In [62]:
row_txid = [txid for txid in all_txid if 'ROADS' in txid]

In [63]:
water_txid = [txid for txid in all_txid if 'WATER' in txid]

In [64]:
rail_txid = [txid for txid in all_txid if 'RAILS' in txid]

In [65]:
testdf.notes.unique()

array(['ROW', 'Rail', 'Many', 'ROW, Rail'], dtype=object)

In [66]:
r1_t, r2_t = split_unmatched_df(unmatched_df, ml='Y', setID=setID)

In [67]:
rev_r2_y = review_unmatched_df_r2(df=r2_t, taxlot=all_taxlot, setID=setID, ml='Y', export=True)

reviewing WD2017-0136
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2021-0624
there is not any matched lot, need to review trsqq, the close-match is 01S09W30
lots to check: ['RAILS'], and lots to compare: ['100', '101', '102', '103', '104', '105', '200', '201', '300', '400', '500', '600', '701', '900', '1000', '1001', '1100']
reviewing WD2020-0526
there is not any matched lot, need to review trsqq, the close-match is 02N10W
lots to check: ['ROADS'], and lots to compare: ['100', '200', '600', '1100', '1200', '1900', '2000', '2200', '2280', '2290', '2500', '2700', '2800', '3200', '3300', '3400', '3700', '3800', '3900', '4000', '4400', '4500', '4800', '4900', '5000', '5100', '5201', '5203', '5600', '5700', '5800', '5900', '6000', '6001', '6100', '6101', '99980']
reviewing WD2017-0124
coordinate might be incorrect, nearby taxlot is 1838.00S11.50E3100--000001000, about 26 ft away
reviewing WD2017-0375
there is not any matched lot, need to review trsqq, the close-match is 05S11W25
lots to check: ['ROADS'], and lots to compare: ['400', '490', '500', '800', '804', '805', '808', '809', '812', '900', '1000', '1200', '1201', '1202', '1300', '99980']
reviewing WD2018-0196
trsqq matched, checking county code...
county code is corrected, need to check lot numbers...
lot numbers might be wrong...
reviewing WD2020-0009
coordinate might be incorrect, nearby taxlot is 0504.00N01.00W03CB--000001900, about 39 ft away
reviewing WD2018-0281
there is not any matched lot, need to review trsqq, the close-match is 41S12E11
lots to check: [], and lots to compare: ['200', '300', '400', '500', '600', '700', '701', '800', '900', '1000', '1100', '1200', '1300', '1301', '1400', '1500', '1600', '1700']
reviewing WD2020-0120
some lots are not matched, need to review trsqq, the close-match is 08N04W15
lots to check: ['ROADS', 'RAILS'], and lots to compare: ['100', '200', '300', '400', '500', '600', '700', '100', '200', '300', '301', 'ROADS']

In [68]:
rev_r2_y.columns

Index(['wetdet_delin_number', 'trsqq', 'parcel_id', 'county', 'latitude',
       'longitude', 'DecisionLink', 'record_ID', 'IDyear', 'correct_type',
       'correction', 'cor_trsqq', 'ORTaxlot'],
      dtype='object')

In [69]:
testdf = rev_r2_y.copy()

In [70]:
taxlot_to_check = get_taxlot_to_check_r2(revdf=testdf, taxlot=all_taxlot, setID=setID, ml='Y')

In [71]:
taxlot_to_check.columns

Index(['year', 'ORTaxlot', 'geometry', 'wdID', 'trsqq', 'parcel_id', 'county',
       'latitude', 'longitude', 'doc_link', 'record_ID', 'IDyear', 'cor_type',
       'correction', 'cor_trsqq'],
      dtype='object')

In [72]:
len(rev_r2_y.ORTaxlot.values)

9

In [73]:
matchedTxlotIDs = [txlot for txlot in rev_r2_y.ORTaxlot.values if txlot in matched.ORTaxlot.values]

In [74]:
rev_r2_y.loc[rev_r2_y.ORTaxlot.isin(matchedTxlotIDs), 'record_ID'].values

array([2836, 2792, 2710, 2250])

In [75]:
[txlot for txlot in rev_r2_y.ORTaxlot.values if txlot not in matched.ORTaxlot.values]

['2903.00N10.00W3500--000099980',
 '1838.00S11.50E3100--000001000',
 '1839.00S09.00E1600--000001100',
 '0504.00N01.00W03CB--000001900',
 '1841.00S12.00E1100--000000400']