In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from wdtools import *

In [33]:
tx_dt = read_taxlot(year=2017)

In [32]:
tx_dt.head()

,ORTaxlot,Shape_Length,Shape_Area,geometry
0,,19391.445677,2.155550e+05,"MULTIPOLYGON (((647614.242 1382867.700, 647613..."
1,0 .00.000000--0000,16806.093130,4.953847e+05,"MULTIPOLYGON (((486021.517 1375588.457, 485872..."
2,0 .00.000000--000000000,704290.786561,2.567273e+07,"MULTIPOLYGON (((485310.155 1359830.882, 485282..."
3,0106.00S37.00E0000--000000100,88762.951553,3.025046e+08,"MULTIPOLYGON (((1928467.809 1210044.000, 19286..."
4,0106.00S38.00E0000--000000100,4922.043650,5.902563e+05,"MULTIPOLYGON (((1930136.485 1210725.312, 19301..."

In [31]:
tx_dt.County.unique()

AttributeError: 'GeoDataFrame' object has no attribute 'County'

In [29]:
cnt_ID[~cnt_ID.ID.isin(tx_dt.County.unique())].COUNTY.unique()

array(['Douglas', 'Grant', 'Malheur', 'Sherman', 'Wallowa'], dtype=object)

In [5]:
gdf = readTaxlots(year=2015, export=True)

Baker
Benton
Clackamas
Clatsop
Columbia
Coos
Crook
Curry
Deschutes
Gilliam
Harney
Hood_River
Jackson
Jefferson
Josephine
Klamath
Lake
Lane
Lincoln
Linn
Marion
Morrow
Multnomah
Polk
Tillamook
Umatilla
Union
Wasco
Washington
Wheeler
Yamhill

In [65]:
gdf.head()

,County,Town,TownPart,TownDir,Range,RangePart,RangeDir,SecNumber,Qtr,QtrQtr,Anomaly,MapSufType,MapNumber,ORMapNum,Taxlot,MapTaxlot,ORTaxlot,geometry,Year
0,1,9,0.0,S,40,0.0,E,3,0,0,--,0,09S40E03,0109.00S40.00E0300--0000,301,09S40E0300301,0109.00S40.00E0300--000000301,"MULTIPOLYGON (((2012923.180 1129703.930, 20128...",2015
1,1,6,0.0,S,38,0.0,E,0,0,0,--,0,06S38E,0106.00S38.00E0000--0000,300,06S38E000000300,0106.00S38.00E0000--000000300,"MULTIPOLYGON (((1931083.908 1209055.701, 19311...",2015
2,1,6,0.0,S,38,0.0,E,28,D,0,--,0,06S38E28D,0106.00S38.00E28D0--0000,300,06S38E28D00300,0106.00S38.00E28D0--000000300,"MULTIPOLYGON (((1942735.605 1198483.774, 19427...",2015
3,1,6,0.0,S,38,0.0,E,0,0,0,--,0,06S38E,0106.00S38.00E0000--0000,700,06S38E000000700,0106.00S38.00E0000--000000700,"MULTIPOLYGON (((1942035.039 1196825.915, 19420...",2015
4,1,6,0.0,S,38,0.0,E,33,0,0,--,0,06S38E33,0106.00S38.00E3300--0000,ROADS,06S38E33ROADS,0106.00S38.00E3300--0000ROADS,"MULTIPOLYGON (((1944720.860 1196439.739, 19448...",2015

In [63]:
gdf = gpd.GeoDataFrame(gdf, geometry="geometry")

In [66]:
gdf.to_file(inpath + '\\GIS\\ORMAP_data\\2009_2015\\ORTaxlots2015.shp')