In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1,2,3], 'C': [4,6, 5]})

In [6]:
df

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [17]:
g = df.groupby('A', group_keys=True)

In [22]:
g.apply(lambda x: ';'.join(x.A.unique()))

A
a    a
b    b
dtype: object